<!doctype html>
<html>
<head><!--Not sure when to close this-->
    <meta charset="utf-8">
    <title>Demo</title>
    <style>
    #left {
        width: 700px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: #ffa;
    }
    #right {
        margin-left: 705px;
    }
    </style>
    <style type="text/css">
     .scrollable{
        overflow: auto;
        width: 70px; 
        height: 100%; 
        border: 1px silver solid;
     }
    .scrollable select{
        border: none;
    </style>
<!-- JQuery -->  
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 

<script>
// it seems like I could do a loop or something for this
    //wait for DOM to load
    $(document).ready(function() {
        // bind 'myForm' and provide simple call back
        $('#reg_form').ajaxForm(function() {
            alert("woo hoo!");
        });
    });
    
    $(document).ready(function() {
        // bind 'myForm' and provide simple call back
        $('#client_form').ajaxForm(function() {
            alert("woo hoo!");
        });
    });
    
   
    $(document).ready(function() {
        // bind 'myForm' and provide simple call back
        $('#contact_form').ajaxForm(function() {
            alert("woo hoo!");
        });
    });
    
    $(document).ready(function() {
        // bind 'myForm' and provide simple call back
        $('#payment_form').ajaxForm(function() {
            alert("woo hoo!");
        });
    });
    
    $(document).ready(function() {
        // bind 'myForm' and provide simple call back
        $('#contrib_form').ajaxForm(function() {
            alert("woo hoo!");
        });
    });
    
</script>

<--This hides the registration form since we usually don't need it-->
<script type="text/javascript">
      function showHide(id) {
        var div = document.getElementById(id);
        div.style.display = ( div.style.display == "none") ? "block" : "none";
      }
</script>

</head> 
<body>
    
    <div id="left">
       <iframe height=100% width="700" scrolling="yes" src="http://www.fara.gov/docs/4274-Supplemental-Statement-20130206-18.pdf"></iframe>
    </div>
    
    <div id="right">
    
    <button type="button" style="floatright">back to documents</button><br />
    <button type="button">instructions</button>
    
    <h1>Data entry prototype</h1>
    <div id= "reg_form">
    <h2>Lobbyist/Registrant info</h2>    
    <p>Registrant Name: xxx<br />
    name: xxx<br />
    address: xxx<br />
    clients: xxx<br />
    summary:  xxx<br />
    <a href="#" onclick="showHide('reg_info')"> <button type="button">Edit</button></a>
    
    <div id="reg_info" style="display:none;">
    <!-- not sure the action is right but made it like example -->
    <form name="reg_form" action= "comment.php" method="post">
    <label class="error" for="name" id="id_error"><b>This field is required.</b></label>  
    Registration No.:<input type="text" name="reg_id"><br />
    <label class="error" for="email" id="name_error">This field is required.</label> 
    Name of Registrant: <input type="text" name="reg_name"><br />
    Address:<input type="text" name="reg_address"><br />
    City:<input type="text" name="reg_city"><br />
    State:<input type="text" name="reg_state"><br />
    Zip:<input type="text" name="reg_zip"><br />
    (Activities #12)<br />
    Description:<br \>
    <textarea name="reg_description" cols="25" rows="5">
    Use copy and paste to fill this out-- Go ahead try it.
    </textarea><br />
    <input type="submit" value="Update Registration" type="button">
    </form>
    </div>
    
    
    
    <div id="client_form">
    <hr \>
    <h2>Clients</h2>
    <form name="client_form" action="comment.php" methoid="post">
    (Foreign Principal # 7, 8 and 9)<br \>
    Clients in system: If a name doesn't appear, mark as terminated<br \>
    Clients: <input type="text" name="client name"><input type="checkbox" name="terminated" value="True">is terminated<br>
    <br \>
    <a href="#" onclick="showHide('add_client')"> <button type="button">Add Client</button></a><br />
    <div id="add_client" style="display:none;">
    Name of Client: <input type="text" name="client_name"><br />
    Address:<input type="text" name="client_address"><br />
    City:<input type="text" name="clent_city"><br />
    State:<input type="text" name="client_state"><br />
    Zip:<input type="text" name="client_zip"><br />
    <!--This is taken from the FARA website-->
    <!-- DO I need to get rid of the spaces for the values?????????? -->
    Location: <select name="location">
<option value="AFGHANISTAN">AFGHANISTAN</option>
<option value="ALBANIA">ALBANIA</option>
<option value="ALGERIA">ALGERIA</option>
<option value="ANGOLA">ANGOLA</option>
<option value="ANGUILLA">ANGUILLA</option>
<option value="ANTIGUA and BARBUDA">ANTIGUA &amp; BARBUDA</option>
<option value="ARGENTINA">ARGENTINA</option>
<option value="ARMENIA">ARMENIA</option>
<option value="ARUBA">ARUBA</option>
<option value="AUSTRALIA">AUSTRALIA</option>
<option value="AUSTRIA">AUSTRIA</option>
<option value="AZERBAIJAN">AZERBAIJAN</option>
<option value="BAHAMAS">BAHAMAS</option>
<option value="BAHRAIN">BAHRAIN</option>
<option value="BANGLADESH">BANGLADESH</option>
<option value="BARBADOS">BARBADOS</option>
<option value="BELARUS">BELARUS</option>
<option value="BELGIUM">BELGIUM</option>
<option value="BELIZE">BELIZE</option>
<option value="BENIN">BENIN</option>
<option value="BERMUDA">BERMUDA</option>
<option value="BIAFRA">BIAFRA</option>
<option value="BOLIVIA">BOLIVIA</option>
<option value="BOSNIA">BOSNIA</option>
<option value="BOTSWANA">BOTSWANA</option>
<option value="BRAZIL">BRAZIL</option>
<option value="BRITISH VIRGIN ISLANDS">BRITISH VIRGIN ISLANDS</option>
<option value="BRUNEI">BRUNEI</option>
<option value="BULGARIA">BULGARIA</option>
<option value="BURKINA FASO">BURKINA FASO</option>
<option value="BURUNDI">BURUNDI</option>
<option value="CAMBODIA">CAMBODIA</option>
<option value="CAMEROON">CAMEROON</option>
<option value="CANADA">CANADA</option>
<option value="CAYMAN ISLANDS">CAYMAN ISLANDS</option>
<option value="CHAD">CHAD</option>
<option value="CHANNEL ISLANDS">CHANNEL ISLANDS</option>
<option value="CHILE">CHILE</option>
<option value="HINA">CHINA</option>
<option value="COLOMBIA">COLOMBIA</option>
<option value="CONGO BRAZZAVILLE">CONGO BRAZZAVILLE</option>
<option value="COSTA RICA">COSTA RICA</option>
<option value="COTE D'IVOIRE IVORY COAST">COTE D'IVOIRE IVORY COAST</option>
<option value="CROATIA">CROATIA</option>
<option value="CUBA">CUBA</option>
<option value="CURACAO">CURACAO</option>
<option value="CYPRUS">CYPRUS</option>
<option value="CZECH REPUBLIC">CZECH REPUBLIC</option>
<option value="CZECHOSLOVAKIA">CZECHOSLOVAKIA</option>
<option value="DENMARK">DENMARK</option>
<option value="DJIBOUTI">DJIBOUTI</option>
<option value="DOMINICA">DOMINICA</option>
<option value="DOMINICAN REPUBLIC">DOMINICAN REPUBLIC</option>
<option value="ECUADOR">ECUADOR</option>
<option value="EGYPT">EGYPT</option>
<option value="EL SALVADOR">EL SALVADOR</option>
<option value="EQUATORIAL GUINEA">EQUATORIAL GUINEA</option>
<option value="ERITREA">ERITREA</option>
<option value="ESTONIA">ESTONIA</option>
<option value="ETHIOPIA">ETHIOPIA</option>
<option value="FIJI">FIJI</option>
<option value="FINLAND">FINLAND</option>
<option value="FRANCE">FRANCE</option>
<option value="GABON">GABON</option>
<option value="GAMBIA">GAMBIA</option>
<option value="GEORGIA">GEORGIA</option>
<option value="GERMANY">GERMANY</option>
<option value="GERMANY FEDERAL REPUBLIC OF">GERMANY FEDERAL REPUBLIC OF</option>
<option value="GHANA">GHANA</option>
<option value="GREAT BRITAIN">GREAT BRITAIN</option>
<option value="GREECE">GREECE</option>
<option value="GRENAD">GRENADA</option>
<option value="GUATEMALA">GUATEMALA</option>
<option value="GUINEA">GUINEA</option>
<option value="GUYANA">GUYANA</option>
<option value="HAITI">HAITI</option>
<option value="HONDURAS">HONDURAS</option>
<option value="HONG KONG">HONG KONG</option>
<option value="HUNGARY">HUNGARY</option>
<option value="ICELAND">ICELAND</option>
<option value="INDIA">INDIA</option>
<option value="INDONESIA">INDONESIA</option>
<option value="NTERNATIONAL">INTERNATIONAL</option>
<option value="IRAN">IRAN</option>
<option value="IRAQ">IRAQ</option>
<option value="IRELAND">IRELAND</option>
<option value="ISLE OF MAN">ISLE OF MAN</option>
<option value="ISRAEL">ISRAEL</option>
<option value="ITALY">ITALY</option>
<option value="JAMAICA">JAMAICA</option>
<option value="JAPAN">JAPAN</option>
<option value="JORDAN">JORDAN</option>
<option value="KAZAKHSTAN">KAZAKHSTAN</option>
<option value="KENYA">KENYA</option>
<option value="KOREA DEMOCRATIC PEOPLES REPUBLIC OF">KOREA DEMOCRATIC PEOPLES REPUBLIC OF</option>
<option value="KOREA REPUBLIC OF">KOREA REPUBLIC OF</option>
<option value="KOSOVA">KOSOVA</option>
<option value="KUWAIT">KUWAIT</option>
<option value="KYRGYZSTAN">KYRGYZSTAN</option>
<option value="LAOS">LAOS</option>
<option value="LATVIA">LATVIA</option>
<option value="LEBANON">LEBANON</option>
<option value="LESOTHO">LESOTHO</option>
<option value="LIBERIA">LIBERIA</option>
<option value="LIBYA">LIBYA</option>
<option value="LIECHTENSTEIN">LIECHTENSTEIN</option>
<option value="LUXEMBOURG">LUXEMBOURG</option>
<option value="MACAU">MACAU</option>
<option value="MACEDONIA">MACEDONIA</option>
<option value="MADAGASCAR">MADAGASCAR</option>
<option value="MALAWI">MALAWI</option>
<option value="MALAYSIA">MALAYSIA</option>
<option value="MALDIVES">MALDIVES</option>
<option value="MALTA">MALTA</option>
<option value="MARSHALL ISLANDS">MARSHALL ISLANDS</option>
<option value="MAURITIUS">MAURITIUS</option>
<option value="MEXICO">MEXICO</option>
<option value="MICRONESIA">MICRONESIA</option>
<option value="MOLDOVA">MOLDOVA</option>
<option value="MONACO">MONACO</option>
<option value="MONGOLIA">MONGOLIA</option>
<option value="MONTENEGRO">MONTENEGRO</option>
<option value="MOROCCO">MOROCCO</option>
<option value="MYANMAR BURMA">MYANMAR BURMA</option>
<option value="NAGORNO KARABAKH">NAGORNO KARABAKH</option>
<option value="NAURU">NAURU</option>
<option value="NETHERLANDS">NETHERLANDS</option>
<option value="NETHERLANDS ANTILLES">NETHERLANDS ANTILLES</option>
<option value="NEW ZEALAND">NEW ZEALAND</option>
<option value="NICARAGUA">NICARAGUA</option>
<option value="NIGERIA">NIGERIA</option>
<option value="NORTHERN IRELAND">NORTHERN IRELAND</option>
<option value="NORWAY">NORWAY</option>
<option value="OMAN">OMAN</option>
<option value="PAKISTAN">PAKISTAN</option>
<option value="PALAU">PALAU</option>
<option value="PALESTINE">PALESTINE</option>
<option value="PANAMA">PANAMA</option>
<option value="PAPUA AND NEW GUINEA">PAPUA AND NEW GUINEA</option>
<option value="PARAGUAY">PARAGUAY</option>
<option value="PERU">PERU</option>
<option value="PHILIPPINES">PHILIPPINES</option>
<option value="POLAND">POLAND</option>
<option value="PORTUGAL">PORTUGAL</option>
<option value="QATAR">QATAR</option>
<option value="REPUBLIC OF SOUTH SUDAN">REPUBLIC OF SOUTH SUDAN</option>
<option value="ROMANIA">ROMANIA</option>
<option value="RUSSIA">RUSSIA</option>
<option value="RWANDA">RWANDA</option>
<option value="SAHARAWI ARAB DEMOCRATIC REPUBLIC">SAHARAWI ARAB DEMOCRATIC REPUBLIC</option>
<option value="SAO TOME AND PRINCIPE">SAO TOME AND PRINCIPE</option>
<option value="SAUDI ARABIA">SAUDI ARABIA</option>
<option value="SCOTLAND">SCOTLAND</option>
<option value="SENEGAL">SENEGAL</option>
<option value="SERBIA">SERBIA</option>
<option value="SIERRA LEONE">SIERRA LEONE</option>
<option value="SINGAPORE">SINGAPORE</option>
<option value="SLOVENIA">SLOVENIA</option>
<option value="SOMALI DEMOCRATIC REPUBLIC">SOMALI DEMOCRATIC REPUBLIC</option>
<option value="SOUTH AFRICA">SOUTH AFRICA</option>
<option value="SOUTHERN YEMAN">SOUTHERN YEMAN</option>
<option value="SPAIN">SPAIN</option>
<option value="SRI LANKA">SRI LANKA</option>
<option value="ST EUSTATIUS">ST EUSTATIUS</option>
<option value="ST LUCIA">ST LUCIA</option>
<option value="ST MARTIN">ST MARTIN</option>
<option value="ST VINCENT AND THE GRENADINES">ST VINCENT AND THE GRENADINES</option>
<option value="SUDAN">SUDAN</option>
<option value="SURINAME">SURINAME</option>
<option value="SWAZILAND">SWAZILAND</option>
<option value="SWEDEN">SWEDEN</option>
<option value="SWITZERLAND">SWITZERLAND</option>
<option value="SYRIA">SYRIA</option>
<option value="TAIWAN">TAIWAN</option>
<option value="TAJIKISTAN">TAJIKISTAN</option>
<option value="TANZANIA">TANZANIA</option>
<option value="THAILAND">THAILAND</option>
<option value="TIBET">TIBET</option>
<option value="TOGO">TOGO</option>
<option value="TRINIDAD and TOBAGO">TRINIDAD &amp; TOBAGO</option>
<option value="TUNISIA">TUNISIA</option>
<option value="TURKEY">TURKEY</option>
<option value="TURKS AND CAICOS ISLANDS">TURKS AND CAICOS ISLANDS</option>
<option value="UGANDA">UGANDA</option>
<option value="UKRAINE">UKRAINE</option>
<option value="UNITED ARAB EMIRATES">UNITED ARAB EMIRATES</option>
<option value="UNITED KINGDOM">UNITED KINGDOM</option>
<option value="URUGUAY">URUGUAY</option>
<option value="USSR">USSR</option>
<option value="UZBEKISTAN">UZBEKISTAN</option>
<option value="VANUATU">VANUATU</option>
<option value="VENEZUELA">VENEZUELA</option>
<option value="VIETNAM">VIETNAM</option>
<option value="YEMEN">YEMEN</option>
<option value="YEMEN PEOPLES DEMOCRATIC REPUBLIC OF YEMEN">YEMEN PEOPLES DEMOCRATIC REPUBLIC OF YEMEN</option>
<option value="YUGOSLAVIA">YUGOSLAVIA</option>
<option value="ZAIRE">ZAIRE</option>
<option value="ZAMBIA">ZAMBIA</option>
<option value="ZIMBABWE">ZIMBABWE</option>
</select>
    </div>
    <input type="submit" value="Update Clients" type="button">
    </form>
    </div></div>
    <hr />
    
    
    
    <h2>Contacts</h2>
    <div id="contact_form">
    (Activities #11 or see attachment later.)<br \>
    <form name="contact_form" action="comment.php" method="post">
    Date: <input type="text" name="contact_date">
    Lobbyist: <input type="text" name="lobbyist"><br />
    Contact: <input type="text" name="contacted">
    Office or Agency: <input type="text" name="contact_office"> <br \>
    
    Client:
    <div float="right" class="scrollable">
    <select size="6" multiple="multiple">
        <option value="1" selected>client 1</option>
        <option value="2">client 2</option>
        <option value="3">client 3</option>
        <option value="4">not defined</option>
    </select>
    </div>
    
    Method:
     <div float="right" class="scrollable">
    <select size="6" multiple="multiple">
        <option value="P" selected>phone</option>
        <option value="E">email</option>
        <option value="M">meeting</option>
        <option value="O">other</option>
        <option value="U">unknown</option>
    </select>
    </div>
    
    <p>Contact issue</p>
    <textarea name="comments" cols="25" rows="5">
    Use copy and paste to fill this out-- Go ahead try it.
    </textarea><br>
    <input type="hidden" name="reg_id" value="4274">  
    <input type="submit" value="Add Contact" type="button">
    </form> 
    </div> 
    <hr />  
    
    
    
     <h2>Fees and Expenses</h2> 
     <div id="payment_form">
     (Financial Information # 14(a) or see attachment later)<br />
    <form name="payment_form" action="comment.php" method="post">
    <input type="radio" name="money" value="Fee">Fee<br>
    <input type="radio" name="money" value="Expense">Expense
   
    <br />  
    Client:
        <div float="left" class="scrollable">
        <select size="6" multiple="multiple">
            <option value="1" selected>client 1</option>
            <option value="2">client 2</option>
            <option value="3">client 3</option>
            <option value="4">not defined</option>
        </select>
        </div>
  
    <br />  
    Amount: <input type="text" name="amount">
    Date: <input type="text" name="date">
   
    <p>Purpose:</p>
    <textarea name="comments" cols="25" rows="5">
    Use copy and paste to fill this out-- Go ahead try it.
    </textarea><br>
    <input type="hidden" name="reg_id" value="4274">
    <input type="submit" value="Add payment" type="button"></button>
    </form>
    </div>
     <hr />  
   
   
   
    <h2>Contributions</h2>
    <div id="contrib_form">
    (Financial Information # 15(c) or see attachment later)<br />
    <form name="contrabution_form" action="comment.php" method="post">
        Date: <input type="text" name="contrib_date"><br />
        Contributor: <input type="text" name="contrib_date"><br />
        Amount: <input type="text" name="contrib_amount"><br />
        Recipient:<input type="text" name="conrib_to"><br \>
        <input type="hidden" name="reg_id" value="4274">
        <input type="submit" value="Add contibution" type="button"></button>
        </form>
    </div>    
    <hr />
        
</body>
</html>