{% extends "form_base.html" %}

{% block formquestions %}

<h1>Data entry form</h1>
<p><a href="full_list/">select a different form</a></p>

<h3>Registrant</h3>
<p><i>Section I 1(c)</i><br>
Registration No: <b>{{ reg_id }}</b></p>
<hr>

<h3>Stamp date:</h3>
<div id="stamp_list">
{% ifnotequal s_date None %}
    <p>{{ s_date }}</p>
{% endifnotequal %}
</div>

<form action="{% url 'stamp-date' %}"method="GET" id="stampform">
<input id="form_id" name="form_id" type="hidden" value="{{ form_id }}"/>
<p><label for="stamp_date">Correct date: </label>
    <input id="stamp_date" type="text" name="stamp_date" /></p>
    <input type="submit" />
</form>
<hr>

{% if not reg_object %}
  <h3>Create Registrant:</h3>
  <p>Section I</p>

  <form action="{% url 'new-registrant' %}" method="GET" id="regform">
  <p><label for="id_reg_id">Reg id:</label> <input id="id_reg_id" name="reg_id" type="text" value="{{ reg_id }}"/></p>
  <p><label for="id_reg_name">Reg name:</label> <input id="id_reg_name" maxlength="200" name="reg_name" type="text" /></p>
  <p><label for="id_address">Address:</label> <input id="id_address" maxlength="300" name="address" type="text" /></p>
  <p><label for="id_city">City:</label> <input id="id_city" maxlength="100" name="city" type="text" /></p>
  <p><label for="id_state">State:</label> <input id="id_state" maxlength="2" name="state" type="text" /></p>
  <p><label for="id_zip">Zip:</label> <input id="id_zip" maxlength="10" name="zip" type="text" /></p>
  <p><label for="id_country">Country:</label> <input id="id_country" maxlength="100" name="country" type="text" /></p>
    
      <p id="sendwrapper"><input type="submit" value="Send" id="sendbutton"/></p>
  </form>

{% else %}
  <p><b>{{ reg_object.reg_name }}</b><br />
  {{ reg_object.address }}<br />
  {{ reg_object.city }}, {{ reg_object.state }} {{ reg_object.zip }}<br />
  {{ reg_object.country }}</p>
{% endif %}
<div id="reg_list"></div>
<hr />


<h3>Lobbyist</h3>
<p>Lobbists already in system:<br>
<div id="lobby_list">
    <ul>
{% for lobbyist in reg_object.lobbyists.all %}
    <li>{{ lobbyist }}</li>
{% endfor %}
    </ul>
</div>
<div id="lobbyist_ajaxwrapper"></div>
</p>

<h4>Select additional lobbyists for registrant</h4>

<div id="lobbyist_add">
<form method="GET" id='lobbyform' action="/registrant/add_lobbyist">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    
    <p><label for="lobbyists">Lobbyist: </label><input type="hidden" id="lobbyist_lobbyist" name="lobbyists" style="width: 300px"/>

    <input type="submit" /></p>
</form>
</div>

<div id="lobbyist_create">
<a id="lobbyist"><h4>Add a new lobbyist</h4><a id="lobbyist">
<form method="GET" id="add_lobbyform" action="/lobbyist/create">
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <p><label for="id_lobby_id">Lobby id:</label> <input id="id_lobby_id" maxlength="150" name="lobby_id" type="text" /></p>
    <p><label for="id_lobbyist_name">Lobbyist name:</label> <input id="id_lobbyist_name" maxlength="150" name="lobbyist_name" type="text" /></p>
    <label class="lobbyists_error" for="lobbyist_name" id="name_error">This field is required.</label>
    <p><label for="id_PAC_name">PAC name:</label> <input id="id_PAC_name" maxlength="150" name="PAC_name" type="text" /></p>
    <input type="submit" />
</form>
<hr />
</div>

<h3>Client</h3>
<p><i>Questions 7, 8, 9</i></p>

<a id="client">Clients in the system for the registrant:<br></a>
<div id="client_list">
    <ul>
{% for client in reg_object.clients.all %}
    <li>{{ client }}</li>
{% endfor %}
    </ul>
</div>

<div id="client_ajaxwrapper"></div>
<form method="GET" id='clientform' action="/registrant/add_client" id='clientform'>
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    
    <label>Add a client:  </label><input type="hidden" id="client_client" name="clients" style="width: 300px"/>

    <input type="submit" />
</form>
<hr>

<h4>Add a brand new client to the database:</h4>
<p><i>Questions 8 and 9</i></p>

<form method="GET" id="add_clientform" action="/client/create">
    {{ client_form.as_p }}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="submit" />
</form> 

<hr>
<h4>Terminated Client</h4>
<p><i>(question 7)</i></p>

<p>Terminated clients in the system for the registrant:<br>
<div id="terminated_client_list">
<ul>
{% for clients in reg_object.terminated_clients.all %}
    <li>{{ clients }}</li>
{% endfor %}
</ul>
</div>
</p>

<form method="GET" id='terminatedclientform' action="/registrant/add_terminated">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <label><b>Add termination:</b></label><select multiple="multiple" id="terminated_client" name="clients">
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select>
    <input type="submit" />
</form>

<hr>

<h3>Contact</h3>
<p><i>Question 12</i></p>
Contacts related to this form:<br>
<div id="contact_list">
<ul>
{% for c in contact_list %}
<li>{{ c.0 }} {{ c.1 }} ({{ c.2 }}) {{ c.3 }}</li>
{% endfor %}
</ul>
</div>

<br><br></p>

<form method="GET" id="contactform" action="/contact/create"> 
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">

    <p><label for="client">Clients:</label><select name="client" id="contact_client">
        <option value="None">Please Select Client</option>
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    {% for client in reg_object.terminated_clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select></p>

    (who is being contacted)
    <p><label for="recipient">Recipient: </label><input type="hidden" id="contact_recip" name="recipient" style="width: 300px"/>

    {% for recipient in all_recipients %}
        <option value="{{ recipient.id }}">{{ recipient.title }} {{ recipient.name }}, {{ recipient.agency }}</option>
    {% endfor %}
    </select></p><a href="#recip">add a new recipient</a>
    
    <p><label for="lobbyist">Lobbyists:</label><select multiple="multiple" id="contact_lobbyist" name="lobbyist">
    {% for lobbyist in reg_object.lobbyists.all %}
        <option value="{{ lobbyist.id }}">{{ lobbyist }}</option>
    {% endfor %}
    </select></p><a href="#lobbyist">add a new lobbyist</a>

    <p><label for="date">Date: </label>
    <input id="contact_date" type="text" name="date" /></p>

    <p><label for="type">Type: </label>
        <select name="contact_type">
            <option value="U">unknown</option>
            <option value="P">phone</option>
            <option value="E">email</option>
            <option value="M">meeting</option>
            <option value="O">other</option>
        </select></p>
    
    <p><label for="description">Description: </label><br />
    <textarea cols="40" id="id_description" name="description" rows="10">
    </textarea></p>

    <input type="submit" />
</form>

<a id="recip"><h3> Add a new Recipient (person who is being contacted):</h3></a>
<p> <i>People being meet, given contributions and gifts</i></p>
<form method="GET" id='recipform' action="/recipient/create">
    {{ recipient_form.as_p }}
    
    <input type="submit" />
</form>    
<hr />



<h3>Payment</h3>
<p><i>Question 14(a)</i></p>
<div id="pay_list">
{% for pay in pay_list %}
        {% if pay.2 == True %}
        <li>${{ pay.1 }} from {{ pay.0 }} on {{ pay.3 }} (fee)</li>
        {% else %}
        <li>${{ pay.1 }} from {{ pay.0 }} on {{ pay.3 }}</li>
        {% endif %}
{% endfor %}
</div>

<form method="GET" id="payform" action="/payment/create">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}"/>
    <input type="hidden" name="link" value="{{ url }}"/>
    
   <p><label for="client">Clients:</label><select name="client" id="pay_client">
        <option value="None">Please Select Client</option>
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    {% for client in reg_object.terminated_clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select></p></p><a href="#client">add a new client</a>
    
    <p><input type="checkbox" name="fee">Fee</p>
    
    <p><label for="amount">Amount: $</label><input id="amount" type="text" name="amount" /></p> 
    
    <p><label for="description">description:</label><br \>
    <textarea name="purpose" cols="25" rows="5"></textarea></p>
    
    <p><label for="date">Date: </label>
    <input id="payment_date" type="text" name="date" /></p>
    
    <input type="submit" />
</form>

<hr />

<h3>Disbursement</h3>
<p>Question 15(a)</p>
Disbursements related to this form:
<div id="dis_list">
{% for dis in dis_list %}
    <li>${{ dis.1 }} {{ dis.0 }}</li>
{% endfor %}
</div>
</p>


<form method="GET" id='disform' action="/disbursement/create">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">
    
    <p><label for="client">Clients:</label><select name="client" id="dis_client">
        <option value="None">Please Select Client</option>
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    {% for client in reg_object.terminated_clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select></p></p><a href="#client">add a new client</a>
    
    <p><label for="date">Date: <br /></label>
    <input id="disbursement_date" "text" name="date" /></p>
    
    <p><label for= "amount">Amount: <br />$</label><input id="amount" type="text" name="amount" /></p> 
    <p><lable for="purpose">Purpose: <br /><textarea name="purpose" cols="25" rows="5"></textarea></p>
    
    <input type="submit" />
</form>
<hr />


<h3>Contribution</h3>
<p><i>Question 15(c)</i></p>

{% for cont in cont_list %}
        <li>{{ cont.0 }} ${{ cont.1 }} to: {{ cont.2 }}</li>
{% endfor %}

<form method="GET" id='contform' action="/contribution/create">
    {% csrf_token %}
    <input type="hidden" name="registrant" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">
    
    <p><label for="id_amount">Amount: $</label> 
    <input id="id_amount" name="amount" type="text" /></p>
    
    <p><label for="date">Date: </label>
    <input id="contribution_date" type="text" name="date" /></p>

    (Who gets the contribution)
    <p><label for="recipient">Recipient :</label><p><input type="hidden" id="cont_recip" name="recipient" style="width: 300px"/></p>

    <a href="#recip">add a new recipient</a>

    <p><label for="lobbyist">Lobbyist or PAC:</label><select id="cont_lobbyist" name="lobbyist">
        <option value="">Select a lobbyist or PAC</option>
    {% for lobbyist in reg_object.lobbyists.all %}
        <option value="{{ lobbyist.id }}">{{ lobbyist }}</option>
    {% endfor %}
    </select></p><a href="#lobbyist">add a new lobbyist or PAC</a>

    
    <input type="submit" />
</form>

<hr /> 
<h3>Gifts</h3>
<p><i>Question 14(c)</i></p>
Gifts associated with this form:
<div id="gift_list">
{% for g in gift_list %}
<li>{{ g.0 }} from {{ g.2 }} on {{ g.1 }}  </li>
{% endfor %} 
</div>
<form method="GET" id="giftform" action="/gift/create">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{  url }}">
    <p><label for="client">Clients:</label><select name="client" id="gift_client">
        <option value="None">Please Select Client</option>
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    {% for client in reg_object.terminated_clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select></p>  <a href="#client">add a new client</a>

    
    <p><label for="date">Date: </label>
    <input id="gift_date" type="text" name= "date" /></p>
    
    <label for "purpose">Purpose: </label><br \>
    <textarea name="purpose" cols="25" rows="5"></textarea></p>
    
    <p><label for="discription">Thing of Value:</label><br \>
    <textarea name="discription" cols="25" rows="5"></textarea></p>
    
    <input type="submit" />
</form>
    
<hr />
<h3>Processing info:</h3>
Upload date: {{ meta_list.2 }}
<form method="GET" action="/metadata/create">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{  url }}">
    <input type="hidden" name="form" value="place holder">
    <input type="hidden" name="upload_date" value="place holder">
  
    {% if meta_list.0 == True %}   
        <p><input type="checkbox" name="reviewed" checked>reviewed</p>
    {% else %}  
        <p><input type="checkbox" name="reviewed">reviewed</p>
    {% endif %}
    
    {% if meta_list.1 == True %}
        <p><input type="checkbox" name="processed" checked>processed</p>
    {% else %}
        <p><input type="checkbox" name="processed">processed</p>
    {% endif %}
    
    {% if meta_list.3 == True %}
        <p><input type="checkbox" name="is_amendment" checked>is amendment</p>
    {% else %}
        <p><input type="checkbox" name="is_amendment">is amendment</p>
    {% endif %}
    
    <p><label for="notes">Notes:</label><br \>
    <textarea name="notes" cols="25" rows="5">{{ meta_list.4 }}</textarea></p>
 
 <input type="submit" />
</form>
<hr />
</div>
{% endblock formquestions %}