<!-- I have the dev server address hardcoded for now, take that out later -->
<!doctype html>
<html lang="en">
<meta charset="utf-8" />
<title>form choices</title>

 
 <!--change to local -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="yourfiles/jquery.tokeninput.js"></script>
<link rel="stylesheet" type="text/css" href="yourfiles/token-input.css" /> -->

<script type="text/javascript">
$(document).ready(function () {
    $("#json-recip-choices").tokenInput("formchoices/recip");
});
</script>

{% block recip_choice %}
<h2 id="theme">Test for Recip options</h2>
    <div>
        <input type="text" id="demo-input-facebook-theme" name="recip" />
        <input type="button" value="Submit" />
        <script type="text/javascript">
        $(document).ready(function() {
            $("#demo-input-facebook-theme").tokenInput("http://127.0.0.1:8000/Recip_choice_template.html",
            });
        });
        </script>
    </div>
{% endblock %}