<h1>Instructions</h1>
<h2>Data Entry tips</h2>
<p>You can copy and paste into all text fields. Don't worry if it looks ugly, extra spaces and line breaks will be removed. For currency fields commas and dollar signs, leading and trailing whitespace will be removed.</p>

<h2>Instructions on data fields</h2>
<a id="Registrant"></a><h3>Registrant</h3>
<p> A registraint is the entity filling out the form. Usually it is a lobbying firm, PR firm or individual. If a registraint is representing itself, fill out the information in the registrant section and the client section.
</p>

<a id="Lobbyist"></a><h3>Lobbyist</h3>
<p>This is somone working for the registraint. We identify lobbyists when they make contacts or contributions, you don't have to enter every one who appears in questions 5(a) and 5(b) of the supplemental.
</p>
<p>Try to make sure the lobbyist is not already in the system before adding a new lobbyist to the system.
</p>

<a id="Client"></a><h3>Client</h3>
<p>This is who the registrant is lobbying on behalf of. 
</p>
<p>Try not to create new clients if they are already in the system. Always search existing clients before adding a brand new client to the database. 
</p>
<p>Try to keep the same entities as the same client. For example, the Astraulian Embassy and the Embassy of Australia are the same. However, different departments of the same institution may be represented seprately. The Equadorian Embassy and The Equidorian Minestry of Tourism would be seprate clients.</p>
<p>New clients will be added when they appear on questions 8 or 9 or the supplemental or the AB form. When clients are no longer represented, they do not appear as clients, they are transfered to terminated clients.
</p> 

<a id="Terminated_Client"></a><h3>Terminated Client</h3>
<p>When a client is no longer being represented by a firm, mark them as a terminated client. This will happen when a client appears in question 7 of the supplemental or if a client that has been represented by the registrant and is longer reported in questions 8 and 9 of the supplemental.
</p>
<p>Only delete clients when they should never have been assigned to the client in the first place- a data entry error or some freak amendment.</p>
<p>Sometimes, you may have to add a client in the database first, to then transfer it to the terminated clients.</p>

<a id="Contact"></a><h3>Contact</h3>
<p>These are meetings, phone calls, emails, letters or other forms of contact that appear on question 12 of the supplemental. Contacts are often include press, Congress or a governmental department. 
</p>
<p>The recipient is the person that the registrant is attempting to contact. Add a a lobbyist if he is mentioned in the contact, otherwise, leave this blank. Don't forget to select what cleint the contact is for. If they don't supply a date, use the supplemental end date. </p>

<a id="Recipient"></a><h3>Recipient</h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<a id=""></a><h3></h3>
<p>
</p>

<h2>Explination of forms</h2>
<p>
<b>Registration Statement</b> is the first filing for the person or organization who lobbies on behalf of a foreign entity.
</p><p>
The <b>Supplemental Statement</b> provides information on what kind of public relations and lobbying a firm engages in on behalf of a foreign government. Supplementals have key information like contacts, payments and contributions. These are filed every 6 months.
</p><p>
<b>Amendments</b> make corrections to past filings.
</p><p>
<b>Short Forms</b> are filed by each person involved in representing a foreign agent. (We don't enter all of these.)
</p><p>
<b>Exhibit A</b> to Registration Statement is filed for each foreign principle and gives an overview of the foreign organization.
</p><p>
<b>Exhibit B</b> to Registration Statement is the agreement between the foreign organization and the firm or person the organization hires. This usually contains a copy of the contract they sign. 
</p><p>
<b>Exhibit C</b> contains the Articles of incorporation, bylaws and other documents that pertain to the registrant, the person or company that represents the foreign agent.
</p><p>
<b>Exhibit D</b> outlines fundraising information on behalf of the foreign agent. 
</p><p>
<b>Conflict Provision</b>, a letter that is filed to allow a public official to represent a foreign entity. The employer must certify this position is to promote the national interest. These are very rare and might be worth writing about.
</p><p>
