<h1>Reg View</h1>

<ul>
{% for r in reg %}
    <li>{{ r.reg_id }} -- {{ r.reg_name }} <br />
    {{ r.address }}, {{ r.city }}, {{ r.state }}, {{ r.zip }} {{ r.country }}<br />
    Description: {{ r.description }}<br />
    
    {% for c in r.clients.all %}
        Client: {{ c }}<br />
    {% endfor %}
    Terminated client:<br />
    {% for t in r.terminated_clients.all %}
        {{ t }}<br />
    {% endfor %}
    Lobbyists:<br />
    {% for l in r.lobbyists.all %}
        {{ l.lobbyist_name }}<br /> 
    {% endfor %}
    </li>
{% endfor %}
</ul>

