{% extends "supplemental_base.html" %}

{% block formquestions %}

<h3> Contacts</h3>

<p><a href="http://127.0.0.1:8000/full_list/">select a different form</a></p>
{% if not reg_object %}
  <a href="{% url 'supplemental-first' form_id %}">Click here to Create Registrant</a>


{% else %}
  <p><b>{{ reg_object.reg_name }}</b><br />
<hr />

<h3>Contact</h3>
<p><i>Question 12</i></p>
Contacts related to this form:<br>
<ul>
{% for c in contact_list %}
<li>{{ c.0 }} {{ c.1 }} ({{ c.2 }}) {{ c.3 }}</li>
{% endfor %}
</ul>

<br><br></p>

<form method="GET" id='contactform' action="/contact/create"> 
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">

    <p><label for="client">Clients:</label><select name="client">
      <option value="None">Please Select Client</option>
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    {% for client in reg_object.terminated_clients.all %}
      <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select></p>

    <p><a href="{% url 'supplemental-first' form_id %}">Add a missing client</a></p>

    <p><label for="recipient">Recipient (who they are meeting with):</label><select multiple="multiple" name="recipient">
    {% for recipient in all_recipients %}
        <option value="{{ recipient.id }}">{{ recipient.title }} {{ recipient.name }}, {{ recipient.agency }}</option>
    {% endfor %}
    </select></p><a href="#recip">add a new recipient</a>

    
    <p><label for="lobbyist">Lobbyists:</label><select multiple="multiple" name="lobbyist">
    {% for lobbyist in reg_object.lobbyists.all %}
        <option value="{{ lobbyist.id }}">{{ lobbyist.lobbyist_name }}</option>
    {% endfor %}
    </select></p><a href="#lobbyist">add a new lobbyist</a>

    <p><label for="date">Date: </label>
    <input id="contact_date" type="text" name="date" /></p>

    <p><label for="type">Type: </label>
        <select name="contact_type">
            <option value="U">unknown</option>
            <option value="P">phone</option>
            <option value="E">email</option>
            <option value="M">meeting</option>
            <option value="O">other</option>
        </select></p>
    
    <p><label for="description">Description: </label><br />
    <textarea cols="40" id="id_description" name="description" rows="10">
    </textarea></p>

    <input type="submit" />
</form>

<a id="recip"><h3> Add a new Recipient (person who is being contacted):</h3></a>
<p> <i>People being meet, given contributions and gifts</i></p>
<form method="GET" id='recipform' action="/recipient/create">
    {{ recipient_form.as_p }}
    
    <input type="submit" />
</form> 

<hr />
<h4>Add a lobbyist</h4>

<div id="lobbyist_add">
<form method="GET" id='lobbyform' action="/registrant/add_lobbyist">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <p><label for="lobbyists">Lobbyist in system: </label><select multiple="multiple" name="lobbyists">
    {% for lobbyist in all_lobbyists %}
        <option value="{{ lobbyist.id }}">{{ lobbyist.lobbyist_name }}</option>
    {% endfor %}
    </select>
    <input type="submit" /></p>
</form>


<a id="lobbyist"><h4>Add a brand new lobbyist</h4><a id="lobbyist">
<form method="GET" action="/lobbyist/create">
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <p><label for="id_lobby_id">Lobby id:</label> <input id="id_lobby_id" maxlength="150" name="lobby_id" type="text" /></p>
    <p><label for="id_lobbyist_name">Lobbyist name:</label> <input id="id_lobbyist_name" maxlength="150" name="lobbyist_name" type="text" /></p>
    <p><input type="hidden" id="id_PAC_name" name="PAC_name" value=""></p>
    <input type="submit" />
</form>
<hr />

<div allign="center"><h3><a href="{% url 'supplemental-payment' form_id %}">  Continue to Payments</a></h3></div>

<br />
<br />
{% endif %}

{% endblock formquestions %}