/*Extra Styling */
.heading1{
	background: #78bcbf;
	opacity:0.5;
	width: 80%;
	margin: 30px;
	font-weight: bold;
	height: 20px;
	border-radius: 6px;
	
}
.headingtext{
	margin: 40px;
	font-size: 45px;
	font-weight: bold;
}

.explainer{
	margin-left: 40px;
}	

.link_box{
	margin-left: 30px;
	padding: 20px;
	border: 4px #C0C0C0 double;
    border-spacing: 20;
    -moz-border-radius: 12px;
    -moz-box-shadow: #94aaa1 4px 4px 5px;
    -webkit-border-radius: 12px;
    -webkit-box-shadow: #94aaa1 4px 4px 5px;
    border-radius: 12px;
    box-shadow: #94aaa1 4px 4px 5px;
    width: 75%;
}

.pagination{
	padding: 15px;
}

body{
	margin: 40px;
}

/* ------------------
 styling for the tables
   ------------------   */

table{
	background: #fff;
	margin: 5px;
	width: 800px;
	border-collapse: collapse;
	text-align: left;
}

th{
	font-size: 12px;
	font-weight: bold;
	color: #58595B;
	padding: 11px 8px 2px 2px;
	border-bottom: 6px solid #457b80;
	vertical-align: bottom;
}

td{
	color: #58595B;
	padding: 9px 8px 0px 8px;
}

thead { background-color: #eeefeb; }
