/*creates the two scrolling sections  */
#left {
    width: 60%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #ffa;
}

#right {
  width: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

#right-iframe {
  width: 40%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

#wrap.form-wrap { margin-left: 60%; } 

main.container {
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background: #f2f2f2;  
}
.scrollable{
    width: 70px; 
    height: 100%; 
    border: 1px silver solid;
 }

.scrollable select{
    border: none;
}

/*moves help links to the right */

.help {
  display: block;
  text-align: right;
}

.question-helper {
  font-style: italic;
  color: #999;
}

form {
  width: 400px;
  margin: 20px 0;
}

form.wide {
  width: 100%;
}

.form-control {
  margin-bottom: 15px;
}

.form-section {
  overflow: auto;
  padding: 0 20px 20px;
  margin-bottom: 20px;
  background: #fff;
}

.form-section.api .form-control {
  margin-bottom: 0px;
}

.form-section h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

.form-section h4 {
  margin-top: 50px;
}

/* Flash background for success message */

.form-section.flash-ok h4 {
  margin-top: 30px;
}

.form-section.flash-ok {
  background: #fff;
  -moz-animation-name: backgroundFade;
  -moz-animation-iteration-count: once;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: .5s;

  -webkit-animation-name: backgroundFade;
  -webkit-animation-iteration-count: once;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .5s; 
}

@-moz-keyframes backgroundFade {
    0% {
        background: #77c777;
    }
    50% {
        background: #77c777;
    }
    100% {
        background: #fff;
    }
}
@-webkit-keyframes backgroundFade {
    0% {
        background: #77c777;
    }
    50% {
        background: #77c777;
    }
    100% {
        background: #fff;
    }
}

/* Styles for toggleable form sections */

.form-section .toggleOpen {
  background: #fff;
  margin: 0 -20px -20px;
  padding: 20px;
  cursor: pointer;  
  border-bottom: 0;
}

.form-section .toggleOpen:hover {
  color: #78bcbf;
}

/* hides forms */

.toggle {
  display: none;
  border-top: 1px dashed #ccc;
  margin-top: 10px;
  padding-top: 10px;
}

/* Select2 overrides and styling */

.select-control {
  width: 100%;
  margin-bottom: 15px;  
}

.select2-container {
  margin-bottom: 15px;
}
.select2-container.select2-container-multi.select-control {
  margin-bottom: 15px;
}
.select2-container.select2-container-multi.select-control .select2-choices {
  border-color: #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-image: none;
}

.select2-drop.select2-drop-multi.select2-display-none.select2-drop-active {
  border-radius: 0 0 4px 4px;
  border-color: #ccc;
  margin-top: -3px;
}

.select2-container.select2-container-multi.select-control .select2-choices .select2-search-choice {
  padding: 3px 5px;
  margin: 6px 5px;  
}

/* Select2 dropdown */

.select-control.select2-container {
  margin-bottom: 15px;  
}

.select-control.select2-container a.select2-choice {
  height: 34px;
  border: 1px solid #ccc;
  padding: 4px 0 0 8px;
}

.select-control.select2-container a.select2-choice div {
  width: 24px;
  border-color: #ccc;
}

.select-control.select2-container a.select2-choice div b{
  background: url('/static/images/select2.png') no-repeat 3px 4px;
}

/* Inline Form overrides */

.form-inline .form-control {
  display: inline-block;
}

.form-inline .form-control {
  width: 250px;
}

.form-inline button[type="submit"].form-control {
  width: 145px;
}

.api-result {
  padding: 20px 0;
}

.api-result:hover {
  background: #f2f9fa;
  border-radius: 4px;
  padding: 20px 25px;
  margin-left: -25px;
  margin-right: -25px;
}

.form-inline-api {
  margin: 5px 0;
}

.form-inline-api .form-control {
  display: inline-block;
}

.form-inline-api .form-control {
  width: 345px;
}

.form-inline-api .form-control.short {
  width: 171px;
}

.form-inline-api button[type="submit"].form-control {
  width: 50px;
}

.form-inline-api .api-result-name {
  display: inline-block;
  width: 345px;
}

/* Form style helpers */

.highlight {
  background: #fafad2;
  padding: 8px 10px;
  border-left: 2px solid #fff000; 
  font-family: monospace;
  margin: 5px 0; 
}

.table tbody.highlight-child tr {
  background: #fafad2;
  border-left: 2px solid #fff000;   
}

.highlight-child li{
  background: #fafad2;
  padding: 8px 10px;
  border-left: 2px solid #fff000; 
  font-family: monospace;
  margin: 5px 0; 
}

 ul.highlight-child {
  list-style-type: none;
  padding: 0;
 }

.help-block {
  color: #bbb;
  font-size: 85%;
}


/* Navigation links on multi-page forms */

.quicklinks {
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.quicklinks a{
  display: inline-block;
  padding: 2px 5px;
  margin: 5px;
  margin-left: 0;
  background: #fff;
  border-bottom: 2px solid #fff;
}

.quicklinks a:last-of-type {
  margin-right: 0;
}

.quicklinks a:hover {
  border-bottom: 2px solid #c3e4e5;
}

.next-link {
  overflow: auto;
  margin-bottom: 20px;
}

.next-link a.btn-primary {
  float: right;
}

