@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
/*@import url('bootstrap.min.css');*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

html, body {
	height: 100%;
	color: #666;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;

}

a { color: #78bcbf; text-decoration: none; }

a:hover { color: #78bcbf; text-decoration: none; border-bottom: 1px dotted #78bcbf; }

/* Sticky Footer */

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.push {
	display: block;
	height: 60px;
}

footer {
	background: #78bcbf;
	color: #fff;
	height: 60px;
}

/* End Sticky Footer */

header {
	border-bottom: 4px solid #78bcbf;
	background: #78bcbf;
	color: #fff;
}

header a,
footer a {
	color:#fff;
}

#logo {
	float: left;
	margin: 0;
	padding: 10px;
	background: #444;
}

header .explainer {
	display: inline-block;
}

.heading1 {
	background: #78bcbf;
	opacity:0.5;
	width: 80%;
	margin: 30px;
	font-weight: bold;
	height: 20px;
	border-radius: 6px;
}

.headingtext {
	margin: 40px;
	font-size: 45px;
	font-weight: bold;
}

.explainer {
	/*margin-left: 40px;*/
}	 

.link_box {
	margin: 50px 30px 0 0;
	padding: 20px;
	background: #f5f5f5;
    width: 300px;
    float: left;
}

/* ------------------
 styling for the tables
   ------------------   */

.doclist {
	margin-bottom: 25px;
}
.doclist h3 {
	padding: 10px 7px;
	background: #eee;
}
.table{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: #ddd;
	text-align: left;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
	padding: 8px;
	line-height: 1.5;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

.table tbody > tr {
	background: #f9f9f9;
}

.table tbody > tr.not-entered {
	background: #fff;
}

.table tbody > tr:hover {
	background: #f2f9fa;
	cursor: pointer;
}

.table thead > tr > th {
	vertical-align: bottom;
	border-top: 0;
	border-bottom: 2px solid #dddddd;
	border-top: 0;
	font-weight: 600;
}

.table thead > tr > th.fara-id { width: 80px; }
.table thead > tr > th.registrant-name { width: 640px; }
.table thead > tr > th.stamp-date { width: 130px; }
.table thead > tr > th.status { width: 95px; }
.table thead > tr > th.flagged { width: 70px; }
.table thead > tr > th.notes { width: 150px; }

.table tfoot {
	/*background: #eee;*/
	text-align: right;
}
.table td.status {
	font-style: italic;
}
.table tbody > tr > td.flag {
	color: #f0ad4e;
	text-align: center;
}

.table tbody > tr > td.flag:hover {
	color: #ed9c28;
}

.table tbody > tr > td.note{
	font-style: italic;
	font-size: 85%;
}

/* Table Pagination */

.table td.paginate {
	padding: 0;
	font-size: 90%;
}

.table td.paginate span{
	display: inline-block;
	padding: 5px 10px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.table td.paginate span:last-of-type{
	border-right: 1px solid #ccc;
}

.table td.paginate span:not(.current):hover{
	background: #78bcbf;
	cursor: pointer;
}
.table td.paginate span:not(.current):hover a{
	color: #fff;
}

/* JS classes*/

.js-hidden {
	display: none;
}