{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>
    <title>FARA Docs</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
	<script src="{% static 'javascript/jquery-1.9.1.js' %}"></script>
	<script src="{% static 'javascript/jquery.cookie.js' %}"></script>
	<script src="{% static 'javascript/application.js' %}"></script>
</head>

<body>

<div id="wrap">

<header>
	<div id="logo">
		<a href="/"><h1>FARA</h1></a>
	</div>
    <div class="container">
    	<a class="btn btn-info pull-right help" href="{% url 'instructions' %}">Instructions</a>
    	<h2>{% block page_heading %}{% endblock page_heading %}</h2>
        <span>{% block page_description %}{% endblock page_description %}</span>
    </div>
</header>

    {% block content %}{% endblock content %}

<span class="push"></span>
</div> <!-- end #wrap -->

<footer>
    <div class="container">
        <a class="btn btn-info pull-right" href="{% url 'instructions' %}">Instructions</a>
        <a class="btn btn-info pull-right" href="{% url 'full-list' %}">View All Docs</a>
    </div>
</footer>

</body>
</html>