{% load dictionary_extras %}
{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>
    <title>FARA docs</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
</head>    

<body>

<header>
    <h1>FARA Document Choices</h1>
    <div class="explainer">
        <p>All documents in the system, by form type, newest to oldest. View <a href="{% url 'instructions' %}">instructions.</a></p>
    </div>
</header>

<h2>Supplementals</h2>

<table>
    <thead>
        <tr>
            <td>FARA ID</td><td>Reg name</td><td>Stamp date</td><td>Enter form</td><td>Flagged</td><td>Entered</td><td>Notes</td></tr>
    </thead>
    <tbody> 
    {% for d in supplementals %}
    
        <tr>
            <td>{{ d.reg_id }}</td>

            <td>{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</td>

            <td>{{ d.stamp_date }}</td>

            <td><a href="{% url 'supplemental-first' d.id %}"> Enter form </a></td>

        {% if d.url in reviewed_true %}
            <td><i>Flagged<i></td>
        {% else %}
            <td></td>
        {% endif %}

        {% if d.url in processed_true %}    
            <td>Entered</td>
        {% else %}
            <td><i>NOT entered</i></td>
        {% endif %}
        
        {% if d.url in notes %}
            <td><a href="{% url 'supplemental-last' d.id %}">{{ notes|access:d.url }}</a></td>
         {% if notes|access:d.url != None %}
            <td>{{ notes|access:d.url }}</td></tr>
         {% else %}
            <td></td></tr>
         {% endif %}
        
        {% else %}
            <td></td></tr>
        {% endif %}
        </tr>

    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if supplementals.has_previous %}
            <a href="?s_page={{ supplementals.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ supplementals.number }} of {{ supplementals.paginator.num_pages }}.
        </span>

        {% if supplementals.has_next %}
            <a href="?s_page={{ supplementals.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<h2>Registrations</h2>

<table>
    <thead>
        <tr><td>FARA ID</td><td>Reg name</td><td>Stamp date</td><td>Enter form</td><td>Flagged </td><td>Entered</td><td>Notes</td></tr>
    </thead>
    <tbody>
    {% for d in registrations %}
        <tr>
            <td>{{ d.reg_id }}</td>

        {% if d.reg_id in names %}
            <td>{{ names|access:d.reg_id }}</td>
        {% else %}
            <td></td>
        {% endif %}

            <td>{{ d.stamp_date }}</td>
            <td><a href="{% url 'registration-first' d.id %}"> Enter form </a></td>
            
        
        
        {% if d.url in reviewed_true %}
            <td><i>Flagged</i></td>
        {% else %}
            <td></td>
        {% endif %}

        {% if d.url in processed_true %}    
            <td>Entered</td>
        {% else %}
            <td><i>NOT entered</i></td>
        {% endif %}

        {% if d.url in notes %}
            <td>{{ notes|access:d.url }}</td>
        {% else %}
            <td></td>
        {% endif %}

        </tr>
    {% endfor %}
    </tbody> 
</table>

<div class="pagination">
    <span class="step-links">
        {% if registrations.has_previous %}
            <a href="?r_page={{ registrations.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ registrations.number }} of {{ registrations.paginator.num_pages }}.
        </span>

        {% if registrations.has_next %}
            <a href="?r_page={{ registrations.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<h2>Amendments</h2>

<table>
    <thead>
        <tr><td>FARA ID</td><td>Reg name</td><td>Stamp date</td><td>Enter form</td><td>Flagged</td><td>Entered</td><td>Notes</td></tr> 
    </thead>
    <tbody>       
    {% for d in amendments %}
         <tr>
            <td>{{ d.reg_id }}</td>

        {% if d.reg_id in names %}
            <td>{{ names|access:d.reg_id }}</td>
        {% else %}
            <td></td>
        {% endif %}

            <td>{{ d.stamp_date }}</td>

            <td><a href="{% url 'enter-amendment' d.id %}"> Enter form </a></td>

        {% if d.url in reviewed_true %}
            <td><i>Flagged</i></td>
        {% else %}
            <td></td>
        {% endif %}

        {% if d.url in processed_true %}    
            <td>Entered</td>
        {% else %}
            <td><i>NOT entered</i></td>
        {% endif %}
        
        {% if d.url in notes %}
            <td>{{ notes|access:d.url }}</td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if amendments.has_previous %}
            <a href="?a_page={{ amendments.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ amendments.number }} of {{ amendments.paginator.num_pages }}.
        </span>

        {% if amendments.has_next %}
            <a href="?a_page={{ amendments.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<h2>Exibit AB (New Clients)</h2>

<table>
    <thead>
        <tr><td>FARA ID</td><td>Reg name</td><td>Stamp date</td><td>Enter form</td><td>Flagged</td><td>Entered</td><td>Notes</td></tr> 
    </thead>
    <tbody>

    {% for d in ab %}

        <tr>
            <td>{{ d.reg_id }}</td>

        {% if d.reg_id in names %}
            <td>{{ names|access:d.reg_id }}</td>
        {% else %}
            <td></td>
        {% endif %}

            <td>{{ d.stamp_date }}</td>
            <td><a href="{% url 'enter-AB' d.id %}"> Enter form </a></td>
        
        {% if d.url in reviewed_true %}
            <td><i>Flagged</i></td>
        {% else %}
            <td></td>
        {% endif %}

        {% if d.url in processed_true %}    
            <td>Entered</td>
        {% else %}
            <td><i>NOT entered</i></td>
        {% endif %}
        
        {% if d.url in notes %}
            <td>{{ notes|access:d.url }}</td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
    {% endfor %}

    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if ab.has_previous %}
            <a href="?ab_page={{ ab.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ ab.number }} of {{ ab.paginator.num_pages }}.
        </span>

        {% if ab.has_next %}
            <a href="?ab_page={{ ab.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<h2>Short Forms (Lobbist registration)</h2>
<p>Reference only, we do not hand enter these.</p>


<table>
    <thead>
        <tr><td>FARA ID</td><td>Stamp date</td><td>Url</td></tr> 
    </thead>
    <tbody>
    {% for d in short_forms%}
        <tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{ d.url }}">{{ d.url }}</a></td></tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if short_forms.has_previous %}
            <a href="?sf_page={{ short_forms.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ short_forms.number }} of {{ short_forms.paginator.num_pages }}.
        </span>

        {% if short_forms.has_next %}
            <a href="?sf_page={{ short_forms.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


<h2>Articles of incorporation and Fundraising forms</h2>
<p>Reference only, we do not hand enter these.</p>


<table>
    <thead>
    <tr><td>FARA ID</td><td>Stamp date</td><td>Url</td></tr> 
    </thead>
    <tbody>
    {% for d in others %}
        <tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{ d.url }}">{{ d.url }}</a></td></tr>
    {% endfor %}
    <tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if others.has_previous %}
            <a href="?o_page={{ others.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ others.number }} of {{ others.paginator.num_pages }}.
        </span>

        {% if others.has_next %}
            <a href="?o_page={{ others.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<footer>
    <p><a href="{% url 'instructions' %}">Instructions</a></p>
</footer>

</body>








