{% load dictionary_extras %}
{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>
    <title>FARA docs</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}" />
	<script src="{% static 'javascript/jquery-1.9.1.js' %}"></script>
	<script src="{% static 'javascript/jquery.cookie.js' %}"></script>
	<script src="{% static 'javascript/application.js' %}"></script>
</head>    

<body>

<div id="wrap">

<header>
	<div id="logo">
		<h1>FARA</h1>
	</div>
    <div class="explainer">
    	<h2>Document Overview</h2>
        <p>All documents in the system, by form type, newest to oldest. View <a href="{% url 'instructions' %}">instructions.</a></p>
    </div>
</header>

<div class="container">
	<section class="doclist">
		<h3 class="table_title" id="supplementals">Supplementals</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">Registrant Name</th>
		            <th class="stamp-date">Stamp Date</th>
		            <th class="status">Status</th>
		            <th class="flagged">Flagged</th>
		            <th class="notes">Notes</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in supplementals %}
		        <tr {% if d.url in processed_true %}{% else %}class="not-entered"{% endif %}>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{% url 'supplemental-first' d.id %}">{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		            
		            <td class="status">
		            	{% if d.url in processed_true %}
		            		<span class="glyphicon glyphicon-ok text-muted"></span>
		            	{% else %}
		            		<span>Not Entered</span>
		            	{% endif %}
		            </td>

		            <td class="flag">{% if d.url in reviewed_true %}<span class="glyphicon glyphicon-flag warn"></span>{% endif %}</td>
		        
		            <td class="note">
		            	{% if d.url in notes %}
		            		{% if notes|access:d.url %}
		            			<a href="{% url 'supplemental-last' d.id %}">{{notes|access:d.url}}</a>
	            			{% endif %}
	            		{% endif %}
	            	</td>

		        </tr>
		    {% endfor %}
		    </tbody>
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if supplementals.has_previous %}<span><a href="?s_page={{ supplementals.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ supplementals.number }} of {{ supplementals.paginator.num_pages }}
				    	</span>{% if supplementals.has_next %}<span><a href="?s_page={{ supplementals.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>
		</table>
	</section>	


	<section class="doclist">
		<h3 class="table_title" id="registrations">Registrations</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">Registrant Name</th>
		            <th class="stamp-date">Stamp Date</th>
		            <th class="status">Status</th>
		            <th class="flagged">Flagged</th>
		            <th class="notes">Notes</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in registrations %}
		        <tr {% if d.url in processed_true %}{% else %}class="not-entered"{% endif %}>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{% url 'registration-first' d.id %}">{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		            
		            <td class="status">
		            	{% if d.url in processed_true %}
		            		<span class="glyphicon glyphicon-ok text-muted"></span>
		            	{% else %}
		            		<span>Not Entered</span>
		            	{% endif %}
		            </td>

		            <td class="flag">{% if d.url in reviewed_true %}<span class="glyphicon glyphicon-flag"></span>{% endif %}</td>
		        
		            <td class="note">
		            	{% if d.url in notes %}
		            		{% if notes|access:d.url %}
		            			<a href="{% url 'registration-last' d.id %}">{{notes|access:d.url}}</a>
	            			{% endif %}
	            		{% endif %}
	            	</td>
		        </tr>
		    {% endfor %}
		    </tbody>	
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if registrations.has_previous %}<span><a href="?r_page={{ registrations.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ registrations.number }} of {{ registrations.paginator.num_pages }}
				    	</span>{% if registrations.has_next %}<span><a href="?r_page={{ registrations.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>		    		        
		</table>
	</section>	

	<section class="doclist">
		<h3 class="table_title" id="amendments">Amendments</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">Registrant Name</th>
		            <th class="stamp-date">Stamp Date</th>
		            <th class="status">Status</th>
		            <th class="flagged">Flagged</th>
		            <th class="notes">Notes</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in amendments %}
		        <tr {% if d.url in processed_true %}{% else %}class="not-entered"{% endif %}>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{% url 'enter-amendment' d.id %}">{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		            
		            <td class="status">
		            	{% if d.url in processed_true %}
		            		<span class="glyphicon glyphicon-ok text-muted"></span>
		            	{% else %}
		            		<span>Not Entered</span>
		            	{% endif %}
		            </td>

		            <td class="flag">{% if d.url in reviewed_true %}<span class="glyphicon glyphicon-flag"></span>{% endif %}</td>
		        
		            <td class="note">
		            	{% if d.url in notes %}
		            		{% if notes|access:d.url %}
		            			<a href="{% url 'enter-amendment' d.id %}">{{notes|access:d.url}}</a>
	            			{% endif %}
	            		{% endif %}
	            	</td>
		        </tr>
		    {% endfor %}
		    </tbody>	
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if amendments.has_previous %}<span><a href="?a_page={{ amendments.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ amendments.number }} of {{ amendments.paginator.num_pages }}
				    	</span>{% if amendments.has_next %}<span><a href="?a_page={{ amendments.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>		    		        
		</table>
	</section>		

	<section class="doclist">
		<h3 class="table_title" id="exhibit_ab">Exhibit AB (New Clients)</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">Registrant Name</th>
		            <th class="stamp-date">Stamp Date</th>
		            <th class="status">Status</th>
		            <th class="flagged">Flagged</th>
		            <th class="notes">Notes</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in ab %}
		        <tr {% if d.url in processed_true %}{% else %}class="not-entered"{% endif %}>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{% url 'enter-AB' d.id %}">{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		            
		            <td class="status">
		            	{% if d.url in processed_true %}
		            		<span class="glyphicon glyphicon-ok text-muted"></span>
		            	{% else %}
		            		<span>Not Entered</span>
		            	{% endif %}
		            </td>

		            <td class="flag">{% if d.url in reviewed_true %}<span class="glyphicon glyphicon-flag"></span>{% endif %}</td>
		        
		            <td class="note">
		            	{% if d.url in notes %}
		            		{% if notes|access:d.url %}
		            			<a href="{% url 'enter-AB' d.id %}">{{notes|access:d.url}}</a>
	            			{% endif %}
	            		{% endif %}
	            	</td>
		        </tr>
		    {% endfor %}
		    </tbody>	
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if ab.has_previous %}<span><a href="?ab_page={{ ab.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ ab.number }} of {{ ab.paginator.num_pages }}
				    	</span>{% if ab.has_next %}<span><a href="?ab_page={{ ab.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>		    		        
		</table>
	</section>			

	<section class="doclist">
		<h3 class="table_title" id="short_forms">Short Forms (Lobbyist Registration)</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">URL</th>
		            <th class="stamp-date">Stamp Date</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in short_forms %}
		        <tr>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{{ d.url }}">{{ d.url }}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		        </tr>
		    {% endfor %}
		    </tbody>	
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if short_forms.has_previous %}<span><a href="?sf_page={{ short_forms.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ short_forms.number }} of {{ short_forms.paginator.num_pages }}
				    	</span>{% if short_forms.has_next %}<span><a href="?sf_page={{ short_forms.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>		    		        
		</table>
	</section>

	<section class="doclist">
		<h3 class="table_title" id="short_forms">Articles of Incorporation and Fundraising Forms</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">URL</th>
		            <th class="stamp-date">Stamp Date</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in others %}
		        <tr>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{{ d.url }}">{{ d.url }}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		        </tr>
		    {% endfor %}
		    </tbody>	
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if others.has_previous %}<span><a href="?o_page={{ others.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ others.number }} of {{ others.paginator.num_pages }}
				    	</span>{% if others.has_next %}<span><a href="?o_page={{ others.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>		    		        
		</table>
	</section>	
</div>

	<span class="push"></span>
</div> <!-- end #wrap -->

<footer>
    <p><a href="{% url 'instructions' %}">Instructions</a></p>
</footer>

</body>