{% load dictionary_extras %}
{% load staticfiles %}
<!doctype html>
<html lang="en">
<meta charset="utf-8" />
<title>FARA entry</title>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
<body>

<h1>FARA Data Entry</h1>
<div class="explainer"><p>All forms to be entered, form oldest to newest.</p></div>
<hr>

<h3>Enter Forms</h2>
<br>
<table>
	<thead>
		<tr><td><b>FARA ID</b></td><td><b>Registrant name</b></td> <td><b>Stamp date</b></td><td><b>Enter form</b></td><td><b>Flagged</b></td><td><b>Doc type</b></td><td><b>Notes</b></td></b></tr> 
	</thead>
	<tbody>
	{% for d in entry_docs %}	
		<tr>
			<td>{{ d.reg_id }}</td>

		{% if d.reg_id in names %}
			<td>{{ names|access:d.reg_id }}</td>
		{% else %}
			<td></td>
		{% endif %}
			
			<td>{{ d.stamp_date }}</td>
			
		{% if d.doc_type == "Supplemental" %}
			<td><a href="{% url 'supplemental-first' d.id %}"> Enter form </a></td>
		{% elif d.doc_type == "Amendment" %}
			<td><a href="{% url 'enter-amendment' d.id %}"> Enter form </a></td>
		{% elif d.doc_type == "Registration" %}
			<td><a href="{% url 'registration-first' d.id %}"> Enter form </a></td>
		{% elif d.doc_type == "Exhibit AB" %}
			<td><a href="{% url 'enter-AB' d.id %}"> Enter form </a></td>
		{% endif %}
		
		{% if d.url in reviewed_true %}
			<td><i>Flagged<i></td>
		{% else %}
			<td></td>
		{% endif %}
		
			<td>{{ d.doc_type }}</td>
		
		{% if d.url in notes %}
			<td>{{ notes|access:d.url }}</td>
		{% else %}
			<td></td>
		{% endif %}

		</tr>

	{% endfor %}
	</tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if entry_docs.has_previous %}
            <a href="?page={{ entry_docs.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ entry_docs.number }} of {{ entry_docs.paginator.num_pages }}.
        </span>

        {% if entry_docs.has_next %}
            <a href="?page={{ entry_docs.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<hr>
<p><a href="{% url 'instructions' %}">Instructions</a></p>
<p><a href="{% url 'full-list' %}">View all Forms</a></p>
</body>