{% extends "fara_feed/base.html" %}
{% load dictionary_extras %}
{% load staticfiles %}


{% block page_heading %}Supplementals{% endblock page_heading %}
{% block page_description %}Supplementals that have not been entered, from newest to oldest.{% endblock page_description %}

{% block content %}

<main class="container">

	<section class="doclist">
		<h3 class="table_title" id="supplementals">Supplementals</h3>
		<table class="table">
		    <thead>
		        <tr>
		            <th class="fara-id">FARA ID</th>
		            <th class="registrant-name">Registrant Name</th>
		            <th class="stamp-date">Stamp Date</th>
		            <th class="status">Status</th>
		            <th class="flagged">Flagged</th>
		            <th class="notes">Notes</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for d in supplementals %}
		        <tr {% if d.url in processed_true %}{% else %}class="not-entered"{% endif %}>
		            <td>{{ d.reg_id }}</td>

		            <td><a class="doclink" href="{% url 'entryforms' d.id %}">{% if d.reg_id in names %} {{names|access:d.reg_id}} {% endif %}</a></td>
		            
		            <td>{{ d.stamp_date }}</td>
		            
		            <td class="status">
		            	{% if d.url in processed_true %}
		            		<span class="glyphicon glyphicon-ok text-muted"></span>
		            	{% else %}
		            		<span>Not Entered</span>
		            	{% endif %}
		            </td>

		            <td class="flag">{% if d.url in reviewed_true %}<span class="glyphicon glyphicon-flag warn"></span>{% endif %}</td>
		        
		            <td class="note">
		            	{% if d.url in notes %}
		            		{% if notes|access:d.url %}
		            			<a href="{% url 'supplemental-last' d.id %}">{{notes|access:d.url}}</a>
	            			{% endif %}
	            		{% endif %}
	            	</td>

		        </tr>
		    {% endfor %}
		    </tbody>
		    <tfoot>
				<tr>
					<td class="paginate" colspan="6">
				        {% if supplementals.has_previous %}<span><a href="?page={{ supplementals.previous_page_number }}">prev</a>
				    	</span>{% endif %}<span class="current">{{ supplementals.number }} of {{ supplementals.paginator.num_pages }}
				    	</span>{% if supplementals.has_next %}<span><a href="?page={{ supplementals.next_page_number }}">next</a></span>{% endif %}
				    </td>
				</tr>
		    </tfoot>
		</table>
	</section>

</main>
{% endblock content %}