{% load dictionary_extras %}
{% load staticfiles %}

<!doctype html>

<html lang="en">

<head>
	<title>FARA Supplementals</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
</head>

<body>

<header>	
	<h1>Supplemental Choices</h1>
	<div class="explainer">
		<p>Supplementals that have not been entered, newest, to oldest. View <a href="{% url 'instructions' %}">instructions.</a></p>
	</div>
</header>

<h3>Supplementals</h3>

<table>
	<thead>
		<tr><td>Registrant Name<td><td>FARA ID</td><td>Stamp date</td><td>Enter form</td><td>Flagged</td><td>Notes</td></tr>
	</thead> 
{% for d in supplementals %}
		{% if d.reg_id in names %}	
			<tr><td>{{ names|access:d.reg_id }}</td>
		{% else %}
			<td></td>
		{% endif %}

		<td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{% url 'supplemental-first' d.id %}"> Enter form </a></td>
		
		<td>
		{% if d.url in reviewed_true %}
			Flaged
		{% else %}
		{% endif %}
		</td>


		{% if d.url in notes %}
			<td>{{ notes|access:d.url }}</td></tr>
		{% else %}
		<td></td></tr>
		{% endif %}
		
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if supplementals.has_previous %}
            <a href="?page={{ supplementals.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ supplementals.number }} of {{ supplementals.paginator.num_pages }}.
        </span>

        {% if supplementals.has_next %}
            <a href="?page={{ supplementals.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<footer>
    <p><a href="{% url 'full-list' %}">View all Forms</a> | <a href="{% url 'instructions' %}">Instructions</a></p>
</footer>

</body>