{% extends "fara_feed/base.html" %}

{% block page_heading %}Home{% endblock page_heading %}
{% block page_description %}Select a document view.{% endblock page_description %}

{% block content %}
<main class="container">
	<div class="row">

		<div class="col-md-4">
			<div class="docselect">
				<h3><a href="{% url 'supplemental-list' %}">Supplementals</a></h3>
				<div class="explainer">Supplementals not yet entered, newest to oldest.</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="docselect">
				<h3><a href="{% url 'entry-list' %}">Data Entry List</a></h3>
				<div class="explainer">All doc types not yet entered, in one list, newest to oldest.</div>
			</div>
		</div>
			
		<div class="col-md-4">	
			<div class="docselect">
				<h3><a href="{% url 'full-list' %}">Document Overview</a></h3>
				<div class="explainer">All doc types, newest to oldest.</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}