<!doctype html>
{% load staticfiles %}
<html lang="en">
<meta charset="utf-8" />
<title>FARA</title>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
</head>
<body>
<div class="headingtext">FARA</div>
<div class="heading1"> </div>

<div class="link_box">
<h1><a href="{% url 'supplemental-list' %}">Supplemental choices</a></h1>
	<div class="explainer"><h3>Supplementals not yet entered, newest to oldest.</h3></div>
</div>
<br>

<div class="link_box">	
<h1><a href="{% url 'entry-list' %}">Data entry list</a></h1>
	<div class="explainer"><h3>All doc types not yet entered, in one list, oldest to newest.</h3></div>
</div>
<br>

<div class="link_box">	
<h1><a href="{% url 'full-list' %}">Document choices</a></h1>
	<div class="explainer"><h3>All doc types, newest to oldest.</h3></div>
</div>
<br>

</body>
