<!--return render_to_response('doc_choices.html', {"supplementals" : supplementals}, {'amendment' : amendment}, {'short_forms' : short_forms}, {'ab': ab}, {'others' : others}) -->

<h1>Document Choices</h1>

<hr>
I will make this page faster later

<h3>Supplementals</h3>

<table>
	<tr><td>FARA ID</td><td>Stamp date</td><td>Url</td><td>Reg name</td><td>Entered</td><td>Processed</td></tr> 
{% for d in supplementals %}
	
		<tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{% url 'supplemental-first' d.id %}"> Enter form </a></td><td>Reg name</td>
		{% if d.url in processed_true %}	
			<td>Started</td>
		{% else %}
			<td><i>NOT started</i></td>
		{% endif %}
		
		{% if d.url in reviewed_true %}
			<td>Processed</td></tr>
		{% else %}
			<td><i>NOT Processed</i></td></tr>
		{% endif %}

{% endfor %}
</table>
<hr>

<h3>Amendments</h3>

<table>
	<tr><td>FARA ID</td><td>Stamp date</td><td>Url</td><td>Reg name</td><td>Entered</td><td>Processed</td></tr> 
{% for d in amendments %}

		<tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{  d.url }}">{{ d.url }}</a></td><td>Reg name</td>
		{% if d.url in processed_true %}	
			<td>Started</td>
		{% else %}
			<td><i>NOT started</i></td>
		{% endif %}
		
		{% if d.url in reviewed_true %}
			<td>Processed</td></tr>
		{% else %}
			<td><i>NOT Processed</i></td></tr>
		{% endif %}
		
{% endfor %}
</table>
<hr>

<h3>Short Forms (Lobbist registration)</h3>

<table>
	<tr><td>FARA ID</td><td>Stamp date</td><td>Url</td><td>Reg name</td></tr> 
{% for d in short_forms%}
		<tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{ d.url }}">{{ d.url }}</a></td><td>Reg name</td></tr>
{% endfor %}
</table>
<hr>

<h3>Exibit AB (New Clients)</h3>

<table>
	<tr><td>FARA ID</td><td>Stamp date</td><td>Url</td><td>Reg name</td></tr> 
{% for d in ab %}
		<tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{ d.url }}">{{ d.url }}</a></td><td>Reg name</td></tr>
{% endfor %}
</table>
<hr>

<h3>All other forms</h3>

<table>
	<tr><td>FARA ID</td><td>Stamp date</td><td>Url</td><td>Reg name</td></tr> 
{% for d in others %}
		<tr><td>{{ d.reg_id }}</td><td>{{ d.stamp_date }}</td><td><a href="{{ d.url }}">{{ d.url }}</a></td><td>Reg name</td></tr>
{% endfor %}
</table>
<hr>










