{% extends "form_base.html" %}

{% block formquestions %}

<h1>Supplemental data entry form</h1>
<h3>Part one: Registrant and Clients</h3>

<p>Reminder: <br>
    Admin address needs to be changed when not on local host<br>
    
<p><a href="{% url 'full-list' %}">select a different form</a></p>
<h3>Registrant</h3>
<p><i>Section I 1(c)</i></p>
<p>Registration id: <b>{{ reg_id }}</b></p>

{% if not reg_object %}
  <h3>Create Registrant:</h3>
  <p>Section I</p>

  <form action="{% url 'new-registrant' %}" method="GET" id="regform">
      <div id="ajaxwrapper">
      <form action="/registrant/create" method="GET" id="regform">
    <div id="ajaxwrapper">
    <p><label for="id_reg_id">Reg id:</label> <input id="id_reg_id" name="reg_id" type="text" value="{{ reg_id }}"/></p>
  <p><label for="id_reg_name">Reg name:</label> <input id="id_reg_name" maxlength="200" name="reg_name" type="text" /></p>
  <p><label for="id_address">Address:</label> <input id="id_address" maxlength="300" name="address" type="text" /></p>
  <p><label for="id_city">City:</label> <input id="id_city" maxlength="100" name="city" type="text" /></p>
  <p><label for="id_state">State:</label> <input id="id_state" maxlength="2" name="state" type="text" /></p>
  <p><label for="id_zip">Zip:</label> <input id="id_zip" maxlength="10" name="zip" type="text" /></p>
  <p><label for="id_country">Country:</label> <input id="id_country" maxlength="100" name="country" type="text" /></p>
    
      <p id="sendwrapper"><input type="submit" value="Send" id="sendbutton"/></p>
      </div>
  </form>

{% else %}
  <p><b>{{ reg_object.reg_name }}</b><br />
  {{ reg_object.address }}<br />
  {{ reg_object.city }}, {{ reg_object.state }} {{ reg_object.zip }}<br />
  {{ reg_object.country }}</p>

  <a href="http://127.0.0.1:8000/admin/FaraData/registrant//{{ reg_id }}"> edit Registrant in Admin</a>

{% endif %}

<hr />

<h3>Terminated Clients</h3>
<i>Question 7</i>

<p>Terminated clients in the system for the registrant:<br>
{% for clients in reg_object.terminated_clients.all %}
    <li>{{ clients }}</li>
{% endfor %}
</p>

<form method="GET" id='terminateform' action="/registrant/add_terminated">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <label><b>Add termination:</b></label><select multiple="multiple" name="clients">
    {% for client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
    {% endfor %}
    </select>
    <input type="submit" />
</form>

<hr />


<h3>Client</h3>
<p><i>Questions 8, 9</i></p>

<a id="client"><p>Clients in the system for the registrant:<br></a>
{% for client in reg_object.clients.all %}
    <li>{{ client }}</li>
{% endfor %}
</p>

<form method="GET" id='clientform' action="/registrant/add_client" id='clientform'>
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <label><b>Add active client:</b></label><select multiple="multiple" name="clients">
    {% for client in all_clients %}
        {% if not client in reg_object.clients.all %}
        <option value="{{ client.id }}">{{ client.client_name }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <input type="submit" />
</form>

<hr>

<h4>Add a new client to the database:</h4>
<form method="GET" action="/client/create">
    {{ client_form.as_p }}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="submit" />
</form> 

<hr>

<div align="center">
<h3><a href="{% url 'supplemental-contact' form_id %}">  Continue to Contacts</a></h3></div>
<br />
<br />


{% endblock formquestions %}

