{% load staticfiles %}
<!doctype html>
<html lang="en">
<meta charset="utf-8" />
<title>Member lookup</title>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
</head>
<body>
<div class="explainer">	
<h1>Member lookup:</h1>
<p> Type the last name of the Member.</p>

<form method="GET" id='memberform' action="{% url 'find-member' %}">
<p><label for="member">Member name: </label><br />
    <input type="text" name="member">
    </p>
    <input type="submit" />
</form>
{% if member %}
<p>Added {{ member }} to recipients.</p> 
{% endif %}

{% if insystem %}
<p>{{ insystem }} is already in system.</p> 
{% endif %}

{% if results %}
Choose result:
{% for r in results %}
<form method="GET" id='add_member_form' action="{% url 'add-member' %}">
<p>{{ r.5 }}
<input type="hidden" name="crp_id" value="{{ r.0 }}">
<input type="hidden" name="agency" value="{{ r.1 }}"> 
<input type="hidden" name="office_detail" value="{{ r.2 }}">
<input type="hidden" name="name"  value="{{ r.3 }}">
<input type="hidden" name="title" value="{{ r.4 }}">
<input type="submit" />
</form>
</p>

<div class="explainer">	
<form method="GET" id='add_member_form' action="{% url 'add-staff' %}">
<p> Add staff for {{ r.4 }} {{ r.3 }} 
<input type="hidden" name="crp_id" value="{{ r.0 }}">
<input type="hidden" name="agency" value="{{ r.2 }}"> 
<input type="hidden" name="office_detail" value="{{ r.3 }}">
<b>Staff Title: </b><input name="title" type="text">
<b>Staff Name: </b><input name="name" type="text">
<input type="submit" />
</form>
</div>

<div class="explainer">	
<form method="GET" id='add_pac_form' action="{% url 'add-leader-PAC' %}">
<p> Add Leadership PAC for {{ r.4 }} {{ r.3 }} 
<input type="hidden" name="crp_id" value="{{ r.0 }}">
<input type="hidden" name="agency" value="{{ r.2 }}"> 
<input type="hidden" name="office_detail" value="{{ r.3 }}">
<b>Leadership PAC committee name: </b><input name="PAC_name" type="text">
<input type="submit" />
</form>
</div>

{% endfor %}
{% endif %}
</div>
</body>