<!DOCTYPE html>
<html lang="en">
<title>FARA entry</title>

<head>
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entry_form.css"/>
{% endblock head %}
</head>

<body>

{% block show_doc %}
<div id="left">
   <iframe height=100% width=100% src="{{ url }}" seamless></iframe>
</div>

{% endblock show_doc %}

<div id="right-iframe">
   <iframe height=100% width=100% src="/supplemental_first/{{form_id}}" seamless></iframe>
</div>

</body>
</html>
