{% extends "FaraData/form_base.html" %}

{% block page_heading %}Client Registration{% endblock page_heading %}
{% block page_description %}{{ reg_object.reg_name }}{% endblock page_description %}

{% block formquestions %}

  {% include "FaraData/form_stamp.html" %}
    
  {% include "FaraData/form_registrant.html" with question="Section I" question_2="Section I 1(c)" %}

  {% include "FaraData/form_client.html" with question="Question 3" toggle2="toggle2" %}

  {% include "FaraData/form_client_info.html" %}

  {% include "FaraData/form_terminated_client.html" with toggle="toggle" %}

  {% include "FaraData/form_processing.html" %}


{% endblock formquestions %}

