{% extends "FaraData/form_base_flat.html" %}

{% block page_heading %}Amendments{% endblock page_heading %}
{% block page_description %}{{ reg_object.reg_name }}{% endblock page_description %}

{% block formquestions %}

    {% include "FaraData/form_stamp.html" %}

    {% include "FaraData/form_registrant.html" with question="Section I" question_2="Section I" %}

    {% include "FaraData/form_lobby_pac.html" with title="Lobbyist" question="No need to enter short form changes" toggle="toggle" %}

    {% include "FaraData/form_client.html" with question="Supplemental Questions 8 and 9" toggle="toggle" %}

    {% include "FaraData/form_client_info.html" with toggle="toggle" %}

    {% include "FaraData/form_terminated_client.html" with queston="Supplemental Question 7" toggle="toggle" %}

    {% include "FaraData/form_contact.html" with question="Supplemental Question 12" toggle="toggle" %}

    {% include "FaraData/form_recipient.html" with toggle="toggle" %}

    {% include "FaraData/form_payment.html" with question="Supplemental Question 14(a)" toggle="toggle" %}

    {% include "FaraData/form_disbursement.html" with question="Supplemental Question 15(a)" toggle="toggle" %}

    {% include "FaraData/form_contribution.html" with question="Supplemental Question 15(c)" toggle="toggle" %}

    {% include "FaraData/form_gift.html" with question="Registration Question 14(c)" toggle="toggle" %}

    {% include "FaraData/form_processing.html" %}

{% endblock formquestions %}
