{% extends "FaraData/form_base.html" %}

{% block show_doc %}
{% endblock show_doc %}

{% block formquestions %}

<section class="form-section">

    <h3>Fix Payment</h3>

    {% if payment.subcontractor %}
    <h4>Delete subcontractor</h4>
    <form class="form-inline deleteable" method="GET" action="/payment_remove_sub">  
        <input type="hidden" name="payment_id" value="{{ payment.id }}">

        <input disabled value="{{ payment.subcontractor.reg_name }}" class="form-control">
        <button type="submit" class="btn btn-danger form-control">Delete</button>
    </form>
    {% endif %}

    <h4>Edit Payment</h4>
    <form method="GET" id="amend_pay" class="fix" action="/amend_payment">
        <input type="hidden" name="pay_id" value="{{ payment.id }}" />
        <input type="hidden" name="reg_id" value="{{ reg_object.reg_id }}"/>
        <input type="hidden" name="link" value="{{ url }}"/>
        
       <label for="client">Clients</label>
       <select name="client" id="pay_client" class="form-control">
            <option value="{{ payment.client.id }}">{{ payment.client.client_name }}</option>
        {% for client in reg_object.clients.all %}
            <option value="{{ client.id }}">{{ client.client_name }}</option>
        {% endfor %}
        {% for client in reg_object.terminated_clients.all %}
            <option value="{{ client.id }}">{{ client.client_name }}</option>
        {% endfor %}
        </select>

        <div class="checkbox">
            <label>
                <input name="fee" type="checkbox" {% if payment.fee == True %} checked {% endif %}>
                Fee
            </label>
        </div>
        
        <label for="amount">Amount</label>
        <input id="amount" type="text" name="amount" value="{{ payment.amount }}" class="form-control" placeholder="$"/>
        
        <label for="description">Description</label>
        <textarea name="purpose" class="form-control">{% if payment.purpose %}{{ payment.purpose }}{% endif %}</textarea>
        
        <label for="date">Date</label>
        <input id="payment_date" type="text" name="date" value="{{ date }}" class="form-control"/>

        <label for="subcontractor">Subcontractor</label>
        <span class="help-block">(Add this field if the money is coming from to another registrant.)</span>
        <input type="hidden" id="payment_subcontractor" name="subcontractor" class="select-control"/>
        
        <button type="submit" class="btn btn-default form-control">Submit</button>
    </form>

     <form method="GET" class= "fix" action="/delete_payment">  
        <input type="hidden" name="payment_id" value="{{ payment.id }}">
        <button type="submit" class="btn btn-danger form-control">Delete this entry</button>
     </form>

    <span class="help" ><a href="{% url 'instructions' %}#Payment" target="blank">Help</a></span>
    
</section>

{% endblock formquestions %}

{% block doc_footer %}
{% endblock doc_footer %}