{% extends "FaraData/form_base.html" %}

{% block show_doc %}
{% endblock show_doc %}

{% block formquestions %}

<h3>Fix Contribution</h3>

{{ date }}

<form method="GET" id='amend_cont' class="fix" action="/amend_contribution">
    <input type="hidden" name="cont_id" value='{{ contribution.id }}'>
    <input type="hidden" name="registrant" value="{{ reg_obj.reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">
    
    <p><label for="id_amount">Amount: $</label> 
    <input id="id_amount" name="amount" type="text" value="{{ contribution.amount }}" /></p>
    
    <p><label for="date">Date: </label>
    <input id="contribution_date" type="text" name="date" value="{{ date }}"/></p>

    <p>(Who gets the contribution)</p>
    Current Recipient: <b>{{ contribution.recipient }}</b></p>

    <p><label for="recipient">Change Recipient :</label><p><input type="hidden" id="cont_recip" name="recipient" style="width: 300px"/></p>

    <p>(Who the money is coming from)</p>
    <p><label for="lobbyist">Add Lobbyist or PAC:</label><select id="cont_lobbyist" name="lobbyist">
        <option value="{{ contrbution.lobbyist.id }}">{{ contribution.lobbyist }}</option>
        <option value="">None</option>
    {% for lobbyist in reg_object.lobbyists.all %}
        <option value="{{ lobbyist.id }}">{{ lobbyist }}</option>
    {% endfor %}
	</select></p>
    
    <input type="submit" />
</form>

<span class="help">
 <form method="GET" class= "fix" action="/delete_contribution">  
    <input type="hidden" name="contribution_id" value="{{ contribution.id }}">
    <input value="Delete this entry" type="submit" />
 </form></span>

<br>
<p>
<span class="help" ><a href="{% url 'instructions' %}#Contribution" target="blank">Help</a></span><br>
</p>
{% endblock formquestions %}