{% extends "FaraData/form_base.html" %}

{% block show_doc %}
{% endblock show_doc %}

{% block formquestions %}

<section class="form-section">
    
    <h3>Fix Contact</h3>

    {% if recipients %}
    <h4>Delete recipients for this contact</h4>
    {% endif %}

    {% for r in recipients %}
    <form class="form-inline deleteable" method="GET" action="/contact_remove_recip">
        <input type="hidden" name="contact_id" value="{{ contact.id }}">
        <input type="hidden" name="recip" value="{{ r.id }}">
        
        <input disabled class="form-control" value="{{ r.name }}">

        <button type="submit" class="btn btn-danger form-control">Delete</button>
    </form>
    {% endfor %}

    {% if current_lobby %}
    <h4>Delete lobbyists for this contact</h4>
    {% endif %}

    {% for l in current_lobby %}
    <form class="form-inline deleteable" method="GET" action="/contact_remove_lobby">
        <input type="hidden" name="contact_id" value="{{ contact.id }}">
        <input type="hidden" name="lobbyist" value="{{ l.id }}">

        <input disabled class="form-control" value="{{ l }}">
        
        <button type="submit" class="btn btn-danger form-control">Delete</button>
    </form>  
    {% endfor %}

    <h4>Edit Contact</h4>
    <form method="GET" id="amend_contact" class="fix" action="/amend_contact"> 
        {% csrf_token %}
        <input type="hidden" name="reg_id" value="{{ contact.registrant.reg_id }}">
        <input type="hidden" name="link" value="{{ url }}">
        <input type="hidden" name="contact_id" value="{{ contact.id }}">

        <label for="client">Client</label>
        <select name="client" id="contact_client" class="form-control">
            <option value="{{ contact.client.id }}">{{ contact.client.client_name }}</option>
        {% for client in reg_object.clients.all %}
            <option value="{{ client.id }}">{{ client.client_name }}</option>
        {% endfor %}
        {% for client in reg_object.terminated_clients.all %}
            <option value="{{ client.id }}">{{ client.client_name }}</option>
        {% endfor %}
        </select>

        <label for="recipient">Add additional recipients</label>
        <input type="hidden" id="contact_recip" name="recipient" class="select-control" placeholder="(Who is being contacted)"/>

        {% for recipient in all_recipients %}
            <option value="{{ recipient.id }}">{{ recipient.title }} {{ recipient.name }}, {{ recipient.agency }}</option>
        {% endfor %}
       
        <label for="lobbyist">Add additional lobbyists</label>
        <select multiple="multiple" id="contact_lobbyist" name="lobbyist" class="form-control">
        {% for lobbyist in lobbyists %}
            <option value="{{ lobbyist.id }}">{{ lobbyist }}</option>
        {% endfor %}
        </select>
        
        <label for="date">Date</label>
        <input id="contact_date" type="text" name="date" value="{{ date }}" class="form-control"/>

        <label for="type">Type</label>
        <select name="contact_type" class="form-control">
            <option value="{{ contact.contact_type }}" selected disabled>
                {% if contact.contact_type == "O" %}
                    other</option>
                {% elif contact.contact_type == "P" %}
                    phone</option>
                {% elif contact.contact_type == "E" %}
                    email</option>
                {% elif contact.contact_type == "M" %}  
                    meeting</option>
                {% else %}
                    unknown</option>
                {% endif %}
            <option value="U">unknown</option>
            <option value="P">phone</option>
            <option value="E">email</option>
            <option value="M">meeting</option>
            <option value="O">other</option>
        </select>
        
        <label for="description">Description</label>
        <textarea id="id_description" name="description" class="form-control">{{ contact.description }}</textarea>

        <button type="submit" class="btn btn-default form-control">Submit</button>
    </form>

    <form method="GET" class="fix" action="/delete_contact">  
        <input type="hidden" name="contact_id" value="{{ contact.id }}">
        <button type="submit" class="btn btn-danger form-control">Delete this entry</button>
    </form>

    <span class="help"><a href="{% url 'instructions' %}#Contact" target="blank">Help</a></span>

</section>

{% endblock formquestions %}

{% block doc_footer %}
{% endblock doc_footer %}