<section class="form-section" id="client">
    {% if toggle %}
    <h3 class="toggleOpen">Clients</h3>
    <div class="toggle">
    {% else %}
    <h3>Clients</h3>
    {% endif %}
        <span class="question-helper">{{ question }}</span>
        {% if reg_object.clients.all %}
        <h4>Clients in the system for the registrant</h4>
        {% endif %}
        <ul id="client_list" class="highlight-child">
        {% for client in reg_object.clients.all %}
            <li>{{ client }}</li>
        {% endfor %}
        </ul>

        <h4>Add a client</h4>
        <form method="GET" id='clientform' action="/registrant/add_client" id='clientform'>
            {% csrf_token %}
            <input type="hidden" name="reg_id" value="{{ reg_id }}">
            
            <label class="sr-only">Add a client</label>
            <input type="hidden" id="client_client" name="clients" class="select-control"/>

            <button type="submit" class="btn btn-default form-control">Submit</button>
        </form>

        {% if toggle2 %}
            <h3 class="toggleOpen">Add a new client to the database</h3>
            <div class="toggle">
        {% else %}
            <h4>Add a new client to the database</h4>
        {% endif %}

        <form method="GET" id="add_clientform" action="/client/create">
            <label class="sr-only" for="location">Location</label>
            <input type="hidden" id="client_location" name="location" class="select-control" data-placeholder="Location"/>
            <label class="sr-only" for="client_name">Client Name</label>
            <input id="id_client_name" maxlength="200" name="client_name" type="text" class="form-control" placeholder="Client Name"/>
            <label class="sr-only" for="address1">Address</label>
            <input id="id_address1" maxlength="300" name="address1" type="text" class="form-control" placeholder="Address"/>
            <label class="sr-only" for="city">City</label>
            <input id="id_city" maxlength="100" name="city" type="text" class="form-control" placeholder="City"/>
            <label class="sr-only" for="state">State</label>
            <input id="id_state" maxlength="100" name="state" type="text" class="form-control" placeholder="State"/>
            <label class="sr-only" for="zip_code">Zip Code</label>
            <input id="id_zip_code" maxlength="50" name="zip_code" type="text" class="form-control" placeholder="Zip Code"/>

            <input type="hidden" name="reg_id" value="{{ reg_id }}">
            <button type="submit" class="btn btn-default form-control">Submit</button>
        </form>
         
        <span class="help" ><a href="{% url 'instructions' %}#Client" target="blank">Help</a></span>

        {% if toggle2 %}</div>{% endif %}

        {% if toggle2 %}
        <h3 class="toggleOpen">Add a new location for client field</h3>
            <div class="toggle">
        {% else %}
        <h4>Add a new location for client field</h4>
        {% endif %}
        <ul id="location_list" class="highlight-child"></ul>

        <form method="GET" id="locationform" action="/location/create">
            <label class="sr-only" for="location">Location as appears on the form</label>
            <input id="location" maxlength="300" name="location" type="text" class="form-control" placeholder="Location as appears on the form"/>
            <span class="help-block">Where we would find the location on a map.</span>
            <label class="sr-only" for="country">Country grouping</label>
            <input id="country" maxlength="300" name="country" type="text" class="form-control" placeholder="Country Grouping"/>
            <span class="help-block">
                <a href="http://unstats.un.org/unsd/methods/m49/m49regin.htm" target="blank">Refer to UN regions here.</a>
            </span>
            <label class="sr-only" for="region">Select a Region</label>
            <select id="region" maxlength="300" name="region" type="text" class="form-control">
                <option value="" disabled selected>Region</option>
                <option value="Eastern Africa">Eastern Africa</option>
                <option value="Western Africa">Western Africa</option>
                <option value="Middle Africa">Middle Africa</option>
                <option value="Northern Africa">Northern Africa</option>
                <option value="Southern Africa">Southern Africa</option>
                <option value="Caribbean">Caribbean</option>
                <option value="Central America">Central America</option>
                <option value="South America">South America</option>
                <option value="Northern America">Northern America</option>
                <option value="Central Asia">Central Asia</option>
                <option value="Eastern Asia">Eastern Asia</option>
                <option value="Southern Asia">Southern Asia</option>
                <option value="South-Eastern Asia">South-Eastern Asia</option>
                <option value="Western Asia">Western Asia</option>
                <option value="Eastern Europe">Eastern Europe</option>
                <option value="Western Europe">Western Europe</option>
                <option value="Northern Europe">Northern Europe</option>
                <option value="Southern Europe">Southern Europe</option>
                <option value="Australia and New Zealand">Australia and New Zealand</option>
                <option value="Melanesia">Melanesia</option>
                <option value="Polynesia">Polynesia</option>
                <option value="Micronesia"> Micronesia</option>
                <option value="Multinational"> Multinational</option>
            </select>   

            <label class="sr-only" for="iso">Select a country</label>
            <select id="iso" name="iso" type="text" class="form-control">
                <option value="" disabled selected>country code</option>
                <option value="ABW">ABW- Aruba</option>
                <option value="AFG">AFG- Afghanistan</option>
                <option value="AGO">AGO- Angola</option>
                <option value="AIA">AIA- Anguilla</option>
                <option value="ALA">ALA- Aland Islands</option>
                <option value="ALB">ALB- Albania</option>
                <option value="AND">AND- Andorra</option>
                <option value="ANT">ANT- Netherlands Antilles</option>
                <option value="ARE">ARE- United Arab Emirates</option>
                <option value="ARG">ARG- Argentina</option>
                <option value="ARM">ARM- Armenia</option>
                <option value="ASM">ASM- American Samoa</option>
                <option value="ATA">ATA- Antarctica</option>
                <option value="ATF">ATF- French Southern Territories</option>
                <option value="ATG">ATG- Antigua and Barbuda</option>
                <option value="AUS">AUS- Australia</option>
                <option value="AUT">AUT- Austria</option>
                <option value="AZE">AZE- Azerbaijan</option>
                <option value="BDI">BDI- Burundi</option>
                <option value="BEL">BEL- Belgium</option>
                <option value="BEN">BEN- Benin</option>
                <option value="BFA">BFA- Burkina Faso</option>
                <option value="BGD">BGD- Bangladesh</option>
                <option value="BGR">BGR- Bulgaria</option>
                <option value="BHR">BHR- Bahrain</option>
                <option value="BHS">BHS- Bahamas</option>
                <option value="BIH">BIH- Bosnia and Herzegovina</option>
                <option value="BLM">BLM- Saint-Barthelemy</option>
                <option value="BLR">BLR- Belarus</option>
                <option value="BLZ">BLZ- Belize</option>
                <option value="BMU">BMU- Bermuda</option>
                <option value="BOL">BOL- Bolivia</option>
                <option value="BRA">BRA- Brazil</option>
                <option value="BRB">BRB- Barbados</option>
                <option value="BRN">BRN- Brunei Darussalam</option>
                <option value="BTN">BTN- Bhutan</option>
                <option value="BVT">BVT- Bouvet Island</option>
                <option value="BWA">BWA- Botswana</option>
                <option value="CAF">CAF- Central African Republic</option>
                <option value="CAN">CAN- Canada</option>
                <option value="CCK">CCK- Cocos (Keeling) Islands</option>
                <option value="CHE">CHE- Switzerland</option>
                <option value="CHL">CHL- Chile</option>
                <option value="CHN">CHN- China</option>
                <option value="CIV">CIV- Cote d'Ivoire</option>
                <option value="CMR">CMR- Cameroon</option>
                <option value="COD">COD- Congo, Democratic Republic of the</option>
                <option value="COG">COG- Congo (Brazzaville)</option>
                <option value="COK">COK- Cook Islands</option>
                <option value="COL">COL- Colombia</option>
                <option value="COM">COM- Comoros</option>
                <option value="CPV">CPV- Cape Verde</option>
                <option value="CRI">CRI- Costa Rica</option>
                <option value="CUB">CUB- Cuba</option>
                <option value="CXR">CXR- Christmas Island</option>
                <option value="CYM">CYM- Cayman Islands</option>
                <option value="CYP">CYP- Cyprus</option>
                <option value="CZE">CZE- Czech Republic</option>
                <option value="DEU">DEU- Germany</option>
                <option value="DJI">DJI- Djibouti</option>
                <option value="DMA">DMA- Dominica</option>
                <option value="DNK">DNK- Denmark</option>
                <option value="DOM">DOM- Dominican Republic</option>
                <option value="DZA">DZA- Algeria</option>
                <option value="ECU">ECU- Ecuador</option>
                <option value="EGY">EGY- Egypt</option>
                <option value="ERI">ERI- Eritrea</option>
                <option value="ESH">ESH- Western Sahara</option>
                <option value="ESP">ESP- Spain</option>
                <option value="EST">EST- Estonia</option>
                <option value="ETH">ETH- Ethiopia</option>
                <option value="FIN">FIN- Finland</option>
                <option value="FJI">FJI- Fiji</option>
                <option value="FLK">FLK- Falkland Islands (Malvinas)</option>
                <option value="FRA">FRA- France</option>
                <option value="FRO">FRO- Faroe Islands</option>
                <option value="FSM">FSM- Micronesia, Federated States of</option>
                <option value="GAB">GAB- Gabon</option>
                <option value="GBR">GBR- United Kingdom</option>
                <option value="GEO">GEO- Georgia</option>
                <option value="GGY">GGY- Guernsey</option>
                <option value="GHA">GHA- Ghana</option>
                <option value="GIB">GIB- Gibraltar</option>
                <option value="GIN">GIN- Guinea</option>
                <option value="GLP">GLP- Guadeloupe</option>
                <option value="GMB">GMB- Gambia</option>
                <option value="GNB">GNB- Guinea-Bissau</option>
                <option value="GNQ">GNQ- Equatorial Guinea</option>
                <option value="GRC">GRC- Greece</option>
                <option value="GRD">GRD- Grenada</option>
                <option value="GRL">GRL- Greenland</option>
                <option value="GTM">GTM- Guatemala</option>
                <option value="GUF">GUF- French Guiana</option>
                <option value="GUM">GUM- Guam</option>
                <option value="GUY">GUY- Guyana</option>
                <option value="HKG">HKG- Hong Kong, Special Administrative Region of China</option>
                <option value="HMD">HMD- Heard Island and Mcdonald Islands</option>
                <option value="HND">HND- Honduras</option>
                <option value="HRV">HRV- Croatia</option>
                <option value="HTI">HTI- Haiti</option>
                <option value="HUN">HUN- Hungary</option>
                <option value="IDN">IDN- Indonesia</option>
                <option value="IMN">IMN- Isle of Man</option>
                <option value="IND">IND- India</option>
                <option value="IOT">IOT- British Indian Ocean Territory</option>
                <option value="IRL">IRL- Ireland</option>
                <option value="IRN">IRN- Iran, Islamic Republic of</option>
                <option value="IRQ">IRQ- Iraq</option>
                <option value="ISL">ISL- Iceland</option>
                <option value="ISR">ISR- Israel</option>
                <option value="ITA">ITA- Italy</option>
                <option value="JAM">JAM- Jamaica</option>
                <option value="JEY">JEY- Jersey</option>
                <option value="JOR">JOR- Jordan</option>
                <option value="JPN">JPN- Japan</option>
                <option value="KAZ">KAZ- Kazakhstan</option>
                <option value="KEN">KEN- Kenya</option>
                <option value="KGZ">KGZ- Kyrgyzstan</option>
                <option value="KHM">KHM- Cambodia</option>
                <option value="KIR">KIR- Kiribati</option>
                <option value="KNA">KNA- Saint Kitts and Nevis</option>
                <option value="KOR">KOR- Korea, Republic of</option>
                <option value="KWT">KWT- Kuwait</option>
                <option value="LAO">LAO- Lao PDR</option>
                <option value="LBN">LBN- Lebanon</option>
                <option value="LBR">LBR- Liberia</option>
                <option value="LBY">LBY- Libya</option>
                <option value="LCA">LCA- Saint Lucia</option>
                <option value="LIE">LIE- Liechtenstein</option>
                <option value="LKA">LKA- Sri Lanka</option>
                <option value="LSO">LSO- Lesotho</option>
                <option value="LTU">LTU- Lithuania</option>
                <option value="LUX">LUX- Luxembourg</option>
                <option value="LVA">LVA- Latvia</option>
                <option value="MAC">MAC- Macao, Special Administrative Region of China</option>
                <option value="MAF">MAF- Saint-Martin (French part)</option>
                <option value="MAR">MAR- Morocco</option>
                <option value="MCO">MCO- Monaco</option>
                <option value="MDA">MDA- Moldova</option>
                <option value="MDG">MDG- Madagascar</option>
                <option value="MDV">MDV- Maldives</option>
                <option value="MEX">MEX- Mexico</option>
                <option value="MHL">MHL- Marshall Islands</option>
                <option value="MKD">MKD- Macedonia, Republic of</option>
                <option value="MLI">MLI- Mali</option>
                <option value="MLT">MLT- Malta</option>
                <option value="MMR">MMR- Myanmar</option>
                <option value="MNE">MNE- Montenegro</option>
                <option value="MNG">MNG- Mongolia</option>
                <option value="MNP">MNP- Northern Mariana Islands</option>
                <option value="MOZ">MOZ- Mozambique</option>
                <option value="MRT">MRT- Mauritania</option>
                <option value="MSR">MSR- Montserrat</option>
                <option value="MTQ">MTQ- Martinique</option>
                <option value="MUS">MUS- Mauritius</option>
                <option value="MWI">MWI- Malawi</option>
                <option value="MYS">MYS- Malaysia</option>
                <option value="MYT">MYT- Mayotte</option>
                <option value="NAM">NAM- Namibia</option>
                <option value="NCL">NCL- New Caledonia</option>
                <option value="NER">NER- Niger</option>
                <option value="NFK">NFK- Norfolk Island</option>
                <option value="NGA">NGA- Nigeria</option>
                <option value="NIC">NIC- Nicaragua</option>
                <option value="NIU">NIU- Niue</option>
                <option value="NLD">NLD- Netherlands</option>
                <option value="NOR">NOR- Norway</option>
                <option value="NPL">NPL- Nepal</option>
                <option value="NRU">NRU- Nauru</option>
                <option value="NZL">NZL- New Zealand</option>
                <option value="OMN">OMN- Oman</option>
                <option value="PAK">PAK- Pakistan</option>
                <option value="PAN">PAN- Panama</option>
                <option value="PCN">PCN- Pitcairn</option>
                <option value="PER">PER- Peru</option>
                <option value="PHL">PHL- Philippines</option>
                <option value="PLW">PLW- Palau</option>
                <option value="PNG">PNG- Papua New Guinea</option>
                <option value="POL">POL- Poland</option>
                <option value="PRI">PRI- Puerto Rico</option>
                <option value="PRK">PRK- Korea, Democratic People's Republic of</option>
                <option value="PRT">PRT- Portugal</option>
                <option value="PRY">PRY- Paraguay</option>
                <option value="PSE">PSE- Palestine</option>
                <option value="PSE">PSE- Palestinian Territory, Occupied</option>
                <option value="PYF">PYF- French Polynesia</option>
                <option value="QAT">QAT- Qatar</option>
                <option value="REU">REU- Reunion</option>
                <option value="ROU">ROU- Romania</option>
                <option value="RUS">RUS- Russian Federation</option>
                <option value="RWA">RWA- Rwanda</option>
                <option value="SAU">SAU- Saudi Arabia</option>
                <option value="SDN">SDN- Sudan</option>
                <option value="SEN">SEN- Senegal</option>
                <option value="SGP">SGP- Singapore</option>
                <option value="SGS">SGS- South Georgia and the South Sandwich Islands</option>
                <option value="SHN">SHN- Saint Helena</option>
                <option value="SJM">SJM- Svalbard and Jan Mayen Islands</option>
                <option value="SLB">SLB- Solomon Islands</option>
                <option value="SLE">SLE- Sierra Leone</option>
                <option value="SLV">SLV- El Salvador</option>
                <option value="SMR">SMR- San Marino</option>
                <option value="SOM">SOM- Somalia</option>
                <option value="SPM">SPM- Saint Pierre and Miquelon</option>
                <option value="SRB">SRB- Serbia</option>
                <option value="SSD">SSD- South Sudan</option>
                <option value="STP">STP- Sao Tome and Principe</option>
                <option value="SUR">SUR- Suriname?*</option>
                <option value="SVK">SVK- Slovakia</option>
                <option value="SVN">SVN- Slovenia</option>
                <option value="SWE">SWE- Sweden</option>
                <option value="SWZ">SWZ- Swaziland</option>
                <option value="SYC">SYC- Seychelles</option>
                <option value="SYR">SYR- Syrian Arab Republic (Syria)</option>
                <option value="TCA">TCA- Turks and Caicos Islands</option>
                <option value="TCD">TCD- Chad</option>
                <option value="TGO">TGO- Togo</option>
                <option value="THA">THA- Thailand</option>
                <option value="TJK">TJK- Tajikistan</option>
                <option value="TKL">TKL- Tokelau</option>
                <option value="TKM">TKM- Turkmenistan</option>
                <option value="TLS">TLS- Timor-Leste</option>
                <option value="TON">TON- Tonga</option>
                <option value="TTO">TTO- Trinidad and Tobago</option>
                <option value="TUN">TUN- Tunisia</option>
                <option value="TUR">TUR- Turkey</option>
                <option value="TUV">TUV- Tuvalu</option>
                <option value="TWN">TWN- Taiwan, Republic of China</option>
                <option value="TZA">TZA- Tanzania, United Republic of</option>
                <option value="UGA">UGA- Uganda</option>
                <option value="UKR">UKR- Ukraine</option>
                <option value="UMI">UMI- United States Minor Outlying Islands</option>
                <option value="URY">URY- Uruguay</option>
                <option value="USA">USA- United States of America</option>
                <option value="UZB">UZB- Uzbekistan</option>
                <option value="VAT">VAT- Holy See (Vatican City State)</option>
                <option value="VCT">VCT- Saint Vincent and Grenadines</option>
                <option value="VEN">VEN- Venezuela?(Bolivarian Republic of)</option>
                <option value="VGB">VGB- British Virgin Islands</option>
                <option value="VIR">VIR- Virgin Islands, US</option>
                <option value="VNM">VNM- Viet Nam</option>
                <option value="VUT">VUT- Vanuatu</option>
                <option value="WLF">WLF- Wallis and Futuna Islands</option>
                <option value="WSM">WSM- Samoa</option>
                <option value="YEM">YEM- Yemen</option>
                <option value="ZAF">ZAF- South Africa</option>
                <option value="ZMB">ZMB- Zambia</option>
                <option value="ZWE">ZWE- Zimbabwe</option>
            </select>

          <button type="submit" class="btn btn-default form-control">Submit</button>
        </form>

        <span class="help"><a href="{% url 'instructions' %}#Location" target="blank">Help</a></span><br>
    {% if toggle2 %}<div>{% endif %}
    {% if toggle %}<div>{% endif %}
</section>