<!DOCTYPE html>
<html lang="en">
<title>FARA entry</title>

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sunlight.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entry_form.css" />

<!-- jQuery UI Datepicker -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>
<script src="{{ STATIC_URL }}javascript/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery.form.js"></script>

<!-- token search -->
<script src="{{ STATIC_URL }}javascript/select2.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css"/>  

<!-- move javascript when can hardcode urls -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}javascript/entry_form.js"></script>-->

<!-- (JS is here so links gets rendered) -->

<script type="text/javascript">
// redirect after processing. 
jQuery(document).ready(function() {

  var direct = {
      success: function(response, statusText, xhr, h){
           console.log(response);
           window.location.href="{% url 'full-list' %}";
  }
}

$("#metaform").ajaxForm(direct);

});  



// Date picker 
$(function() {
  $("#contact_date").datepicker();
  $("#disbursement_date").datepicker();
  $("#payment_date").datepicker();
  $("#contribution_date").datepicker();
  $("#gift_date").datepicker();
  $("#stamp_date").datepicker();
  $("#end_date").datepicker();

  //this is the search function, select2
  function createSelect(tag, resourse){
    
    $(tag).select2({
      minimumInputLength: 2,
      allowClear: true,
      
      query: function(query) {

        $.getJSON(resourse, {q: query.term}, function(results){
          // console.log(results);
            
            data = {
              results: results
            };
            // results is now set to [{id: "whatever", text: "whatever"}]

          query.callback(data);
        });
      }
    });
  }
  function createMSelect(tag, resourse){
    
    $(tag).select2({
      minimumInputLength: 2,
      allowClear: true,
      multiple: true,
      query: function(query) {

        $.getJSON(resourse, {q: query.term}, function(results){
          // console.log(results);
            
            data = {
              results: results
            };
            // results is now set to [{id: "whatever", text: "whatever"}]

          query.callback(data);
        });
      }
    });
  }

createMSelect("#contact_recip", "/formchoices/recip");
createMSelect("#client_client", "/formchoices/client");
createMSelect("#lobbyist_lobbyist", "/formchoices/lobbyist");
createSelect("#cont_recip", "/formchoices/recip");
createSelect("#client_location", "/formchoices/location");
createSelect("#disbursement_subcontractor", "/formchoices/reg");
createSelect("#payment_subcontractor", "/formchoices/reg");
createSelect("#gift_recip", "/formchoices/recip");

});


// This posts new data without refreshing the page and updates choices

jQuery(document).ready(function() {
  var options = {
    success: function(responses, statusText, xhr, h){
      console.log(response)
      // var response.error = error
      // if ((error== 'name in system') ||(error== 'failed')){
      //   var message = "Error: " + error
      //   alert(message)
      // }  
      // else{
        //response is an array of JSON objects returned from the server
        for (var i=0; i<responses.length; i += 1) {
          var response = responses[i];

          var name = response.name;
          var id = response.id;

          // 1) update forms (I still need this even with select 2)
          var option = "<option value='" + id + "'>" + name + "</option>";
          $("#contact_client").append(option);
          $("#pay_client").append(option);
          $("#dis_client").append(option);
          $("#gift_client").append(option);
          $("#terminated_client").append(option);
          var ab_option = '<p><label for="client">Clients:</label><select name="client" id="ab_client">' + option + '</option>'
          $("#ab_client").replaceWith(ab_option);
      
          // 2) update list
          var item = "<li>" + name + "</li>"
          $("#client_list ul").append(item);

          // 3) clear form
          $('#clientform').each(function(){
              this.reset();   
          });
          $('#add_clientform').each(function(){
              this.reset(); 
          });

          // clears select2 boxes
          var $client_location = $('#client_location');
          $client_location.select2('data', null);
          var $location = $('#location');
          $location.select2('data', null);
          var $client_client = $('#client_client');
          $client_client.select2('data', null);

        }     
      //}
    }, 
    
    error: function(jqxhr, errorText, error){
        var message = "Error: " + error
        alert(message)
    },
  } 
  jQuery("#clientform").ajaxForm(options);
  jQuery("#add_clientform").ajaxForm(options);
   
  var contact_options = {
    success: function(responseText, statusText, xhr, h){

        update_option('<option value="{{ client.id }}">{{ client.client_name }}</option>', '#contactform', '#contact_client');
    } 
  }      
});


// <!-- This posts new lobbyist data without refreshing the page and updates the lobbyist choices -->

jQuery(document).ready(function(){
  function clearlselect(){
    var $lobbyist_lobbyist = $('#lobbyist_lobbyist');
    $lobbyist_lobbyist.select2('data', null);
    console.log("running")
  }
  var lobby_options = {
    success: function(responses, statusText, xhr, h){
      for (var i=0; i<responses.length; i += 1) {
        var response = responses[i];

        if (typeof response.error== 'undefined'){
          var name = response.name;
          var id = response.id;
          console.log(name)
          // 1) update forms (I still need this even with select 2)
          var option = "<option value='" + id + "'>" + name + "</option>";
          $("#contact_lobbyist").append(option);
          $("#cont_lobbyist").append(option);
      
          // 2) update list
          var item = "<li>" + name + "</li>";
          $("#lobby_list ul").append(item);

          // 3) clear form
          $('#lobbyform').each(function(){
              this.reset();   
          });
          $('#add_lobbyform').each(function(){
              this.reset(clearlselect());   
          });
        }

        else{
          var errors = response.error
          var message = "Error: " + errors
          alert(message)
        } 
      } 
    },
    error: function(jqxhr, errorText, error){
      var message = "Error: failed"
      alert(message)
    },
  }


jQuery("#lobbyform").ajaxForm(lobby_options);
jQuery("#add_lobbyform").ajaxForm(lobby_options);
 
var contact_options = {
    success: function(responseText, statusText, xhr, h){
      update_option('<option value="{{ client.id }}">{{ client.client_name }}</option>', '#contactform', '#contact_client');
    } 
  }     
});

// Functions for keeping track of totals

var total_pay = function pay_totaler(){
  var pay_total = 0;
  var pay = document.getElementsByClassName('pay');
  for (var i=0, max=pay.length; i < max; i++){
    var p = parseFloat(pay[i].innerHTML.slice(1))
    pay_total += p;
  }
  console.log(pay_total)
  var pay_total_txt = '<div id="pay_total"> $ '+ pay_total +'</div>'
  $('#pay_total').replaceWith(pay_total_txt); 
};

var total_dis = function dis_totaler(){
  var dis_total = 0;
  var dis = document.getElementsByClassName('dis');
  for (var i=0, max=dis.length; i < max; i++){
    var d = parseFloat(dis[i].innerHTML.slice(1))
    dis_total += d;
  }
  console.log(dis_total)
  var dis_total_txt = '<div id="dis_total"> $ '+ dis_total +'</div>'
  $('#dis_total').replaceWith(dis_total_txt); 
};


// <!-- adding ajax  and updating-->

jQuery(document).ready(function(){
  total_pay()
  total_dis()
  function update(tag){

    var opt = {
      success: function(response, statusText, xhr, h){
        var error = response.error
        if (typeof error== 'undefined'){
          
          var no_clear = response.do_not_clear;
          if (no_clear == "on"){
                console.log("clear on")
          }
          else{
            $(tag).each(function(){
              this.reset();
            }); 
          }

          //3) update display
          // console.log(response);
          var link = "{{ BASE_URL }}"

          if (tag == "#stampform"){
            var date = response.date;
            var id = response.id;
            var item = '<div id="stamp_list"><p>' + date + "</p><div>";
            console.log(item);
            $("#stamp_list").replaceWith(item);
          }

          if (tag == "#terminatedclientform"){
            for (var i=0; i<response.length; i += 1) {
              var responses = response[i];
              var name = responses.name;
              var id = responses.id;
              var item = "<li>" + name + "</li>";
            $("#terminated_client_list ul").append(item)
            }
          }

          if (tag == "#contactform"){
            var date = response.date;
            var name = response.name;
            var contact_id = response.contact_id;
            var item = "<li>"+ name + " " + date + "</li>";
            $("#contact_list ul").append(item);
            var $contact_recip = $('#contact_recip');
            $contact_recip.select2('data', null)
          }

          if (tag == "#payform"){
            var amount = response.amount;
            var date = response.date;
            var client = response.client;
            var fee = response.fee;
            var pay_id = response.pay_id;
            
            if (fee = "True"){
              fee = "fee"
            }
            else{
              fee = ""
            }
            
            var item = '<tr><td class="pay">$'+ amount + '</td><td>'+ client +'</td><td>'+ date +'</td><td>'+ fee +'</td><td><a href="' + link + '/fix_payment/' + pay_id + '">fix</a><td></tr>';
            $('#pay_table').append(item);
            var $payment_subcontractor = $('#payment_subcontractor');
            $payment_subcontractor.select2('data', null);
            total_pay()

          }

          if (tag == "#disform"){
            var amount = response.amount;
            var date = response.date;
            var client = response.client;
            var dis_id = response.dis_id;

            item = '<tr><td class="dis">$'+ amount +'</td><td>'+ date + '</td><td>'+ client +'</td><td><a href="' + link + '/fix_disbursement/' + dis_id + '">fix</a><td></tr></tr>'
            $('#dis_table').append(item);
            var $disbursement_subcontractor = $('#disbursement_subcontractor');
            $disbursement_subcontractor.select2('data', null)
            total_dis()
          }

          if (tag == '#contform'){
            var amount = response.amount;
            var lobbyist = response.lobbyist;
            if(lobbyist = "null"){
              var lobbyist = ''
            }
            var recipient = response.recipient;
            var date =  response.date;
            var cont_id = response.cont_id;

            var item = '<tr><td>$' + amount + '</td><td>' + lobbyist + '</td><td>' + recipient + '</td><td>' + date + '</td><td><a href="' + link + '/fix_contribution/' + cont_id + '">fix</a><td></tr></tr>';
            $('#cont_table').append(item);
            var $cont_recip = $('#cont_recip');
            $cont_recip.select2('data', null);
          }
           
          if (tag == '#giftform'){
            var date = response.date;
            var client = response.client;
            var description = response.description;

            var item = '<li>' + description + " from " + client + " on " + date + '</li>'
            $('#gift_basket ul').append(item);
            var $gift_recip = $('#gift_recip');
            $gift_recip.select2('data', null) 
          }

          if (tag == '#descriptionform'){
            var description = response.description;
            var item =  '<p>Description: ' + description + '</p>';
            $('#discription_list').replaceWith(item);
          }

          if (tag == '#locationform'){
            var location = response.location;
            var item = '<p>' + location + ' added to locations </p>';
            $('#location_list').append(item);
          }
          if (tag == '#recipform'){
            var name = response.name;
            var item = '<p>Added: ' + name + '</p>';
            $('#reg_list').append(item);
          }
          if (tag == '#regform'){
            var name = response.name;
            var item = '<p>Added: ' + name + '</p>';
            $('#reg_list').append(item);
          }
          if (tag == '#client_infoform'){
            var client_type = response.client_type;
            var description = response.description;
            var item = '<p>Client type: '+ client_type + "</p><p>Description: " + description + '</p>';
            $('#ab_client_info').replaceWith(item);
          }

          if (tag == '.deleteable'){
            h.parent('div').remove();
          }
        }
        
        // creates error messages generated in views
        else{
          console.log("error")
          var message = "Error: " + response.error;
          alert(message);
        }  
      },

      // creates error messages 
      error: function( jqxhr, errorText, error){
        var message = "Error: " + error;
        alert(message);
      },
    }
    
    // 1) submit form
    $(tag).ajaxForm(opt);

  };

  update('#stampform');
  update('#terminatedclientform');
  update('#contactform');
  update('#recipform');
  update('#regform');
  update('#payform');
  update('#disform');
  update('#contform');
  update('#giftform');
  update('#descriptionform');
  update('#locationform');
  update('#client_infoform');
  update('#contact_remove_recip');
  update('#contact_remove_lobby');
  update('.deleteable');
  
});

</script>

</head>


<body>

<div id="left">
   <iframe height=100% width="700" scrolling="yes" src="{{ url }}"></iframe>
</div>

<div id="right">

<div align="right"><p><a href="{% url 'full-list' %}">select a different form</a></p></div>

{% block formheading %}{% endblock formheading %}
<br>
{% block formquestions %}{% endblock formquestions %}
<br>
<br>
{% block quicklinks %}{% endblock quicklinks %}<br>
<br>
<a class="help" href="{{ url }}">view form source</a>
<br>

</div>
</body>