
<!DOCTYPE html>
<html lang="en">
<title>FARA entry</title>

<head>
{% block head %}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/entry_form.css" />

<!-- jQuery UI Datepicker -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>

<script src="{{ STATIC_URL }}javascript/jquery-1.9.1.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}javascript/jquery.form.js"></script>

<script src="{{ STATIC_URL }}javascript/jquery.cookie.js"></script>
<script src="{{ STATIC_URL }}javascript/application.js"></script>
<!-- token search -->
<script src="{{ STATIC_URL }}javascript/select2.min.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/select2.css"/>  

<script src="{{ STATIC_URL }}javascript/entry_form.min.js"></script>
<!-- <script src="{{ STATIC_URL }}javascript/entry_form.js"></script> -->

{% endblock head %}


  <header>
    <div id="logo">
      <a href="/" target="_parent"><h1>FARA</h1></a>
    </div>
      <div class="container">
        <h4>{% block page_heading %}{% endblock page_heading %}</h4>
        <span>{% block page_description %}{% endblock page_description %}</span>
      </div>
  </header>


  <main class="container form-wrap">
  
    {% block formheading %}{% endblock formheading %}
    {% block formquestions %}{% endblock formquestions %}
    {% block quicklinks %}{% endblock quicklinks %}

  </main>

{% block doc_footer %}

  <footer class="form-wrap">
    <div class="container">
      <a class="btn btn-info pull-right" href="{% url 'instructions' %}" target="_parent">Instructions</a>
      <a class="btn btn-info pull-right" href="{% url 'full-list' %}" target="_parent">View All Docs</a>      
      <a class="btn btn-info pull-right" href="{{ url }}" target="_blank">View Form Source</a>
    </div>
  </footer>

{% endblock doc_footer %}

</body>
</html>

