{% load staticfiles %}
<!doctype html>
<html lang="en">
<meta charset="utf-8" />
<title>FARA entry</title>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/sunlight.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/document_select.css' %}" />
</head>
<body>

<img  src="{% static 'images/AskFara.jpg' %}"/>

<h1>Instructions</h1>

<h2>Data Entry tips</h2>
<div class="explainer">
<p>
	You can copy and paste into all text fields. Don't worry if it looks ugly, extra spaces and line breaks will be removed. For currency fields commas and dollar signs, leading and trailing whitespace will be removed.
</p>
<p>
	When adding dates, if they don't supply a date, leave it blank. If the date is a range, give the first date. If the date does not give a day use the first. Use the date-picker calendar to ensure dates are properly formated.
</p>
<p>
	The "do not clear" check box does not relate to the data. It keep the last entry up as a starting point for entering the next item. If you have repetitive entries, it may be faster and easier to use this feature. If you choose to use this feature, be careful to edit the entry correctly and not leave data that doesn't belong to the new entry. Correctness it top priority. 
</p>
<p>
	For now, keep track of duplicates on <a href="https://docs.google.com/a/sunlightfoundation.com/spreadsheet/ccc?key=0AtVSwQeyEuFIdHJYQjVmanBXc3dJRFVEVk9SZUZUVWc#gid=2">this spreadsheet.</a> Everyone with a Sunlight gmail should have access. The tab corresponds to the category that has the dupe.
</p>
<br>
</div>
<hr>

<h2>Instructions on data fields</h2>
<a id="Registrant"></a><h3>Registrant</h3>
<div class="explainer">
<p>
	A registraint is the entity filling out the form. Usually it is a lobbying firm, PR firm or individual. If a registraint is representing itself, fill out the information in the registrant section and the client section.
</p>
<p>
	If the system is showing the incorrect id for the Registrant you need to fix this in the "Document" model of the admin. You can find the form by id. The id for the document is the number in the data form url.
</p>
</div>

<a id="Lobbyist"></a><h3>Lobbyist</h3>
<div class="explainer">
<p>
	This is someone working for the registrant. We identify lobbyists when they make contacts or contributions, you don't have to enter everyone who appears in questions 5(a) and 5(b) of the supplemental.
</p>
<p>
	Try to make sure the lobbyist is not already in the system before adding a new lobbyist to the system. Try searching just the last name to make sure a lobbyist is not already in the system.
</p>
</div>

<a id="Client"></a><h3>Client</h3>
<div class="explainer">
<p>
	This is who the registrant is lobbying on behalf of. 
</p>
<p>
	Try not to create new clients if they are already in the system. Always search existing clients before adding a brand new client to the database. Try typing the name without articles like "the" to see if the client is in the system under a slightly different name.
</p>
<p>
	Try to keep the same entities as the same client. For example, the Australian Embassy and the Embassy of Australia are the same. However, different departments of the same institution may be represented separately. The Ecuadorian Embassy and The Ecuadorian Ministry of Tourism would be septate clients. There can only be one client with the same name.
</p>
<p>
	New clients will be added when they appear on questions 8 or 9 or the supplemental or the AB form. When clients are no longer represented, they do not appear as clients, they are transfered to terminated clients.
</p> 
<p>
	Client registration forms (AB forms) also have identify the type of client and a description of the registrant's work for the client. Client Types are : Foreign government, Foreign political party, Individual, Partnership, Corporation, Association, Committee, Voluntary Group. If they choose other, write down what is specified next to the box in 25 characters or less.
</p>
<p>
	See explanation of location for clients <a href="#Location">here</a>.
</p>
</div>

<a id="Terminated_Client"></a><h3>Terminated Client</h3>
<div class="explainer">
<p>
	When a client is no longer being represented by a firm, mark them as a terminated client. This will happen when a client appears in question 7 of the supplemental or if a client that has been represented by the registrant and is longer reported in questions 8 and 9 of the supplemental.
</p>
<p>
	Only delete clients when they should never have been assigned to the client in the first place- a data entry error or some freak amendment.
</p>
<p>
	Sometimes, you may have to add a client in the database first, to then transfer it to the terminated clients.
</p>
</div>

<a id="Activity_Services"></a><h3>Activity and Services</h3>
<div class="explainer">
<p>
	This appears on question 11 of the supplemental. Usually it is a paragraph explaining services. Copy and paste the response. If it refers to contacts, you do not need to double enter the data.
</p>
</div>

<a id="Contact"></a><h3>Contact</h3>
<div class="explainer">
<p>
	These are meetings, phone calls, emails, letters or other forms of contact that appear on question 12 of the supplemental. Contacts are often include press, Congress or a governmental departments. 
</p>
<p>
	The recipient is the person that the registrant is attempting to contact. Add a a lobbyist if he is mentioned in the contact, otherwise, leave this blank. Don't forget to select what client for the contact.
</p>
<p>
	Enter contact with media, press releases etc. but you don't need to document the client's own publications. This is generally in propaganda files and we haven't been tracking. If you don't know if it should be added, ask or be safe and add it anyways.  
</p>
<p>
	Check "do not clear" when you are doing repetitive contacts that have slight variations, that way you can make the new contact by editing the appropriate details from the last contact.</p>
</div>

<a id="Recipient"></a><h3>Recipient</h3>
<div class="explainer">
<p> 
	This is the target of the communication, gift or political donation. Watch 
</p>
<p>
	If there is a press release, the recipient is "media". Try to give a recipient to all categories that it is an option. If there is a contact that you cannot figure out a recipient for, you can use "unknown"-- but use it as sparingly as possible.  
</p>
<p>
	Congress members that are correctly in the system will appear as Sen. Firstname Lastname (Senate) or Rep. Firstname Lastname (House). 
</p>

<ul>
	<li>
		<b>CRP id</b>: Look this up for members of Congress and Congressional staff
	</li>
	<li>
		<b>Agency</b>: This would be something like House, Senate, State Department, White House, U.S. Treasury etc. It could be a Media if it is a news organization. 
	</li>
	<li>
		<b>Office Detail</b>: This would be the name of the Congressional office (the Congress member's name) or perhaps the department of an agency or Media outlet.
	</li>
	<li>
		<b>Name</b>: First and last (make sure it is not already in the system)
	</li>
	<li>
		<b>Title</b>: Mr., Sen., Rep., etc.
	</li>
</ul>

<p>Adding a Congressional Staffer:</p>
<p>
	Duplicates in this category are ok if the same person moves offices. Be sure we have the right name/office match for the recipient. We want the correct Member's id to match the contact.
</p>
	Use the add Member and Staff function.
<ul>
	<li>
		<b>CRP id</b> = the CRP ID of the member</li>
	<li>
		<b>Agency</b> = either House, Senate or Congressional if they are joint staff. Never use "Congress" that is reserved for members of congress.</li>
	<li>
		<b>Office Detail</b> = the Committee Name or if possible, the name of the Member they work for ie. Rep. Nancy Pelosi</li>
	<li>
		<b>Name</b> = name of staffer contacted</li>
	<li>
		<b>title</b> = Whatever it is- Legislative Director etc. Leave it blank if no title is given. You do not need to add a new person if their title changes.</li>
</ul>

<p>
	Adding a PAC or candidate committee (to recipients):
</p>
<p>
	(If it is a congressional candidate committee, just look for the name or use the add a member of Congress tool.
<p>
	Leadership PAC:
</p>
<ul>
	<li>
		<b>Name</b> = name of the politician's PAC ie. Freedom Project is John Boehner's leadership
	</li>
	<li>
		<b>Agency</b> = "Leadership PAC" if it is tied to a member of Congress; "PAC" if it is a regular PAC. Check Opensecrets.org if you are confused. 
	<li>
		<b>Office detail</b> = the candidate name ie. Rep. John Boehner
	</li>
	<li>
		<b>CRP id</b> = CRP id of member if it is a leadership PAC or candidate committee
	</li>
	<li>
		<b>State local</b> is true if it is a non-federal candidate or PAC
	</li>
</ul>

<p>
	Adding journalists:
</p>

<ul>
	<li>
		<b>Agency</b> = Media
	</li>
	<li>
		<b>Office detail</b> = employer
	</li>
	<li>
		<b>name</b> = name of journalist
	</li>	
</ul>

<p>
	Adding State Department employee:
</p>
<p> (Use the same pattern for other government agencies.)</p>

<ul>
	<li>
		<b>Agency</b> = U.S. Department of State
	</li>
	<li>
		<b>Office detail</b> = division if applicable 
	</li>
	<li>
		<b>Name</b> = name of contact
	</li>	
</ul>

<p>
	Adding a state or local official:
</p>

<ul>
	<li>
		<b>Agency</b> = Try to get the state or locality's name and the institution. For example-- Minnesota State House, Cleveland Court of Appeals, Chicago Alderman.
	</li>
	<li>
		<b>Title</b> = Try to be descriptive. For instance-- State Rep., Judge, City Council Member.
	</li>
	<li>
		(State and local officials will not have CRP ids)
	</li>

</ul>
</div>

<a id="Payment"></a><h3>Payment</h3>
<div class="explainer">
<p>
	Money from the Client to the Registrant. This appears on question 14(a) of the supplemental. It is often added as an addendum so look at the bottom of the form if it is left blank.
</p>

<ul>
	<li>
		<b>Fee</b> is used to track money lobbying PR and legal fees. 
	</li>
	<li>
		<b>Subcontractor</b>, add when money is coming from another FARA registrant. You may need to add a new registrant to the system.
	</li>
</ul>
</div>

<a id="Disbursement"></a><h3>Disbursement</h3>
<div class="explainer">
	<p>
	This is money that the registrant spends in service of the client. This can include subcontracts to other lobbying firms etc. This appears in 15(a) in the supplemental. 
</p>

<ul>
	<li>
		<b>Subcontractor</b>, add when money is coming from another FARA registrant. You may need to add a new registrant to the system.
	</li>
</ul>
</div>

<a id="Contribution"></a><h3>Contribution</h3>
<div class="explainer">
<p>
	This covers political contributions from PACs and employees of the firm. It can be found on question 15(c) of the supplemental.
</p>
</div>
<a id="Gifts"></a><h3>Gifts</h3>
<div class="explainer">
<p>
	This covers "things of value" in question 14(c) of the Supplemental. There are not going to be too many of these. 
</p>
</div>
<a id="Processing_Info"></a><h3>Processing Info</h3>
<div class="explainer">
<p>
	This tracks the form during the data entry process. When you are done with the form, check "Check when form is finished." This will make the data live on the front end.
</p>
<p>
	Forms that have been processed will say "Form is finished and info is displayed on front end." Once you mark this, the form will disappear from the data entry list but you can still find the document in the full list. You can uncheck and click "submit" to hide the data form the front end of the website. Fix the errors and then resubmit. 
</p>
</div>

<a id="Location"></a><h3>Location</h3>
<div class="explainer">
<p>This section applies to the location of the clients. 
</p>
<ul>
	<li>
		<b>Location</b>: This is as it appears on the documents</li>
	<li>
		<b>Country</b>: This could used for mapping or possibly alerts. This would be the country that the group would appear to be in if we look at map.</li>
	<li>
		<b>Region</b>: Use UN regions, find them <a href="http://unstats.un.org/unsd/methods/m49/m49regin.htm">here</a>. This will be used for alerts.</li>
</ul>
</div>

<a id="Stamp_Date"></a><h3>Stamp Date</h3>
<div class="explainer">
<p>
	This is the day the DOJ Fara office received the form. This is not the start date or end date for the form.
</p>
</div>

<hr>

<h2>Explanation of forms</h2>
<div class="explainer">
<p>
	<b>Registration Statement</b> is the first filing for the person or organization who lobbies on behalf of a foreign entity.
</p>
<p>
	The <b>Supplemental Statement</b> provides information on what kind of public relations and lobbying a firm engages in on behalf of a foreign government. Supplementals have key information like contacts, payments and contributions. These are filed every 6 months.
</p>
<p>
	<b>Amendments</b> make corrections to past filings.
</p>
<p>
	<b>Short Forms</b> are filed by each person involved in representing a foreign agent. (We don't enter all of these.)
</p>
<p>
	<b>Exhibit A</b> to Registration Statement is filed for each foreign principle and gives an overview of the foreign organization.
</p>
<p>
	<b>Exhibit B</b> to Registration Statement is the agreement between the foreign organization and the firm or person the organization hires. This usually contains a copy of the contract they sign. 
</p>
<p>
	<b>Exhibit C</b> contains the Articles of incorporation, bylaws and other documents that pertain to the registrant, the person or company that represents the foreign agent.
</p>
<p>
	<b>Exhibit D</b> outlines fund raising information on behalf of the foreign agent. 
</p>
<p>
	<b>Conflict Provision</b>, a letter that is filed to allow a public official to represent a foreign entity. The employer must certify this position is to promote the national interest. These are very rare and might be worth writing about. 
</p>
</div>
<hr>

<h2>Troubleshooting</h2>
<div class="explainer">
<p>
	Use the Chrome or Safari.
</p>
<p>
	Enable pop-ups to see error messages
</p>

<h3>Band-aid fixes</h3>
<p>
	If the viewer breaks, follow the "view form source" link to enter the data.
</p>
<p>
	If the document loader breaks search for document on the <a href="http://www.fara.gov/">DOJ site</a> and add the link to Documents in the admin. Ask for the scraper to be fixed. (It is the create_feed.py management command.)
</p>
<p>
	If the form is incorrectly identified, for example an AB form is really an amendment. Fix the categorization in the document admin. 
</p>
</div>

</body>