{% extends "FaraData/form_base.html" %}

{% block show_doc %}
{% endblock show_doc %}

{% block formquestions %}
<script src="{{ STATIC_URL }}test/entry_form.js"></script>
<section class="form-section">
	
<h3>Merge Recipients</h3>
<p>Changes made in this form are final</p>

<ul id="changelist" class="highlight-child">
</ul>

<form method="GET" id="mergeform" action="/merge_recipients">
	<span class="help-block pull-right"><a href="{% url 'instructions' %}#Recipient" target="blank">This is the <b>correct entry</b> </a></span>

	            <label for="correct_recipient">
	                Correct Recipient
	            </label>
	            <input type="hidden" id="correct_recip" name="correct_recipient" class="select-control" placeholder="Correct Recipient"/>
	
	<br/>
	<h4>The previous entry will replace the incorrect entries below.</h4>
	<br/>
	
	<span class="help-block pull-right"><a href="{% url 'instructions' %}#Recipient">This is the <b>incorrect</b> entry </a></span>

	            <label for="wrong_recipient">
	                Flawed recipients
	            </label>
	            <input type="hidden" id="wrong_recip" name="wrong_recipient" class="select-control" placeholder="Incorrect Recipients"/>
	<br/>
	<br/>
	<br/>

	<button type="submit" class="btn btn-default form-control">Merge</button>

</form>
</section>
{% endblock %}

{% block doc_footer %}
{% endblock doc_footer %}