{% extends "FaraData/registration_base.html" %}
{% block formquestions %}

<h3>Processing info:</h3>
Upload date: {{ meta_list.2 }}
<form method="GET" id="metaform" action="/metadata/create">
    {% csrf_token %}
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{  url }}">
    <input type="hidden" name="form" value="{{ form_id }}">
    <input type="hidden" name="upload_date" value="{{ s_date }}">
  
    {% if meta_list.0 == True %}   
        <p><input type="checkbox" name="reviewed" checked>flag</p>
    {% else %}  
        <p><input type="checkbox" name="reviewed">flag</p>
    {% endif %}
    
    {% if meta_list.1 == True %}
        <p><input type="checkbox" name="processed" checked>Form is finished and info is displayed on front end</p>
    {% else %}
        <p><input type="checkbox" name="processed">Check when form is finished</p>
    {% endif %}
    
    {% if meta_list.3 == True %}
        <p><input type="checkbox" name="is_amendment" checked>is amended</p>
    {% else %}
        <p><input type="checkbox" name="is_amendment">is amended</p>
    {% endif %}
    
    {% if meta_list.4 == None %}
        <p><label for="notes">Notes:</label><br \>
        <textarea name="notes" cols="25" rows="5"></textarea></p>
    {% else %}
        <p><label for="notes">Notes:</label><br \>
        <textarea name="notes" cols="25" rows="5">{{ meta_list.4 }}</textarea></p>
    {% endif %}
 
 <input type="submit" />
</form>

<span class="help" ><a href="{% url 'instructions' %}#Processing_Info" target="blank">Help</a></span><br>


{% endblock formquestions %}
