{% extends "FaraData/supplemental_base.html" %}

{% block formquestions %}
  
  {% include "FaraData/form_processing.html" with note="note" %}

  {% include "FaraData/form_stamp.html" %}

  {% include "FaraData/form_registrant.html" with question="Section I 1(c)" question_2="Section I" %}

  {% include "FaraData/form_client.html" with question="Questions 8 and 9" toggle2="toggle2" %}

  {% include "FaraData/form_terminated_client.html" with queston="Question 7" %}

  <div align="center">
  <h3><a href="{% url 'supplemental-contact' form_id %}">  Continue to Contacts</a></h3></div>
  <br />
  <br />

{% endblock formquestions %}

