{% extends "FaraData/supplemental_base.html" %}

{% block formquestions %}

<h3>Contact</h3>

{% if not reg_object %}
    <h1><a href="{% url 'supplemental-first' form_id %}">Click here to Create Registrant</a></h1>
    <p> You must have a registrant to proceed with the form </p>

{% else %}
    <p><i>Questions 11 and 12</i></p>
    Contacts related to this form:<br>
    <div id="contact_list">
    <ul>
{% endif %}

{% for c in contact_list %}
    {% if c.2 %}
        <li>{{ c.0 }} {{ c.1 }} ({{ c.2 }}) {{ c.3 }} <a href="{% url 'fix-contact' c.4 %} ">fix</a></li>
    {% else %}
        <li>{{ c.0 }} {{ c.1 }} {{ c.3 }} <a href="{% url 'fix-contact' c.4 %} ">fix</a></li>
    {% endif %}
{% endfor %}
</ul>
</div>

<p><b>Enter Contact</b></p>

<form method="GET" id="contactform" action="/contact/create"> 

    {% csrf_token %}
    <p><label for ="do_not_clear">Do not clear </label><input name="do_not_clear" type="checkbox"></p>
    <input type="hidden" name="reg_id" value="{{ reg_id }}">
    <input type="hidden" name="link" value="{{ url }}">

    {% if one_client == True %}

        <p><label for="client">Clients:</label><select name="client" id="contact_client">
            {% for client in reg_object.clients.all %}
                <option value="{{ client.id }}">{{ client.client_name }}</option>
            {% endfor %}
            {% for client in reg_object.terminated_clients.all %}
                <option value="{{ client.id }}">{{ client.client_name }}</option>
            {% endfor %}
        </select></p>
        
    {% else %}     

        <p><label for="client">Clients:</label><select name="client" id="contact_client">
                <option value="None">Please Select Client</option>
            {% for client in reg_object.clients.all %}
                <option value="{{ client.id }}">{{ client.client_name }}</option>
            {% endfor %}
            {% for client in reg_object.terminated_clients.all %}
                <option value="{{ client.id }}">{{ client.client_name }}</option>
            {% endfor %}
        </select></p>

    {% endif %}
    <p><a href="{% url 'supplemental-first' form_id %}">Add new client</a></p>

    (who is being contacted)
    <p><label for="recipient">Recipient: </label><input type="hidden" id="contact_recip" name="recipient" style="width: 300px"/>

    {% for recipient in all_recipients %}
        <option value="{{ recipient.id }}">{{ recipient.title }} {{ recipient.name }}, {{ recipient.agency }}</option>
    {% endfor %}
    </select></p><a href="#recip">add a new recipient</a>
    
    <p><label for="lobbyist">Lobbyists:</label><select multiple="multiple" id="contact_lobbyist" name="lobbyist">
    {% for lobbyist in reg_object.lobbyists.all %}
        <option value="{{ lobbyist.id }}">{{ lobbyist }}</option>
    {% endfor %}
    </select></p><a href="#lobbyist">add a new lobbyist</a>

    <p><label for="date">Date: </label>
    <input id="contact_date" type="text" name="date" /></p>

    <p><label for="type">Type: </label>
        <select name="contact_type">
            <option value="U">unknown</option>
            <option value="P">phone</option>
            <option value="E">email</option>
            <option value="M">meeting</option>
            <option value="O">other</option>
        </select></p>
    
    <p><label for="description">Description: </label><br />
    <textarea cols="40" id="id_description" name="description" rows="10">
    </textarea></p>

    <input type="submit" />
</form>

<span class="help" ><a href="{% url 'instructions' %}#Contact" target="blank">Help</a></span><br>
<hr>




<a id="recip"></a><h3> Add a new Recipient (person who is being contacted):</h3>
<a href="{% url 'find-form' %}" target="blank"><b>Add a new member of Congress or congressional staffer.</b></a>
<p> <i>People being meet, given contributions and gifts</i></p>
<form method="GET" id='recipform' action="/recipient/create">
    {{ recipient_form.as_p }}
    
    <input type="submit" />
</form>    

<span class="help" ><a href="{% url 'instructions' %}#Recipient" target="blank">Help</a></span><br>
<hr>

<div id="lobbyist_create">
    <div class="item">
        <h3 class="toggleOpen">Add a lobbyist</h3>
        <div class="toggle">
            <p>Lobbists already in system:</p>
            <div id="lobby_list">
                    <ul>
                {% for lobbyist in reg_object.lobbyists.all %}
                    <li>{{ lobbyist }}</li>
                {% endfor %}
                    </ul>
            </div>
                
            <h4>Select additional lobbyists for registrant</h4>
                
            <form method="GET" id='lobbyform' action="/registrant/add_lobbyist">
                {% csrf_token %}
                <input type="hidden" name="reg_id" value="{{ reg_id }}">
                <p><label for="lobbyists">Lobbyist: </label><input type="hidden" id="lobbyist_lobbyist" name="lobbyists" style="width: 300px"/>
                <input type="submit" /></p>
            </form>

            <a id="lobbyist"></a><h4>Add a new lobbyist</h4>
            <form method="GET" id="add_lobbyform" action="/lobbyist/create">
                <input type="hidden" name="reg_id" value="{{ reg_id }}">
                <p><label for="id_lobby_id">Lobby id:</label> <input id="id_lobby_id" maxlength="150" name="lobby_id" type="text" /></p>
                <p><label for="id_lobbyist_name">Lobbyist name:</label> <input id="id_lobbyist_name" maxlength="150" name="lobbyist_name" type="text" /></p>
                <label class="lobbyists_error" for="lobbyist_name" id="name_error">This field is required.</label>
                <input type="hidden" id="id_PAC_name" name="PAC_name" value='' /></p>
                <input type="submit" />
            </form>

            <span class="help" ><a href="{% url 'instructions' %}#Lobbyist" target="blank">Help</a></span><br>
            
        </div>
    </div>
</div>
<hr />

<div allign="center"><h3><a href="{% url 'supplemental-payment' form_id %}">  Continue to Payments</a></h3></div>

<br />
<br />


{% endblock formquestions %}